%h2
  Set New Password

= form_for @user, :url => update_reset_password_instructions_path(@user.single_access_token), :method => :put do |f|
  = f.label :password
  = f.password_field :password, :class => :text

  = f.label :password_confirmation, 'Confirm Password'
  = f.password_field :password_confirmation, :class => :text
  %br
  = f.submit "Save Password", :class => :btn