:javascript
  $(function(){
    $('#day_home_signup_request_day_home_name').keyup(function(e) {
      var parsed_subdomain = $(this).attr('value').replace(/[^a-z0-9]/gi,'').toLowerCase();
      $('#day_home_signup_request_day_home_slug').empty().attr('value', parsed_subdomain);
    });
    
    $('.icon-info-sign').popover() ;

  });

.row
  .span12
    %h2
      Add your dayhome to the Dayhome Registry!

.row
  .span12
    .alert.alert-info
      %i.icon-info-sign.icon-white
      = link_to "Find out more about our services, plans and pricing...", pricing_pages_path

= form_for @day_home_signup_request do |f|
  .row.registrationStyle
    .span6.well.form-horizontal
      %h3
        Tell us a little about your Dayhome
      .form-group
        = f.label :day_home_name, 'Dayhome Name'
        = f.text_field :day_home_name
        <i class="icon-info-sign icon-white" data-title="What's in a name?" data-content="This is the name of your dayhome. Don't have one? Well, pick something that you'll want your parents to know you by...it's your first impression when attracting new families."></i>
        
        = f.label :day_home_slug, 'Dayhome Slug'
        .input-prepend
          %span.add-on
            http://dayhomeregistry.com/
          = f.text_field :day_home_slug
        <i class="icon-info-sign icon-white" data-title="What's a slug?" data-content="The slug is the name for the end of our web address that makes it easy for you and your customers to find your page.  The web address that you see to the left will be your home on our website."></i>
        
        = f.label :day_home_phone_number, 'Contact Phone Number for Dayhome'
        = f.text_field :day_home_phone_number
        <i class="icon-info-sign icon-white" data-title="Dayhome have its own phone or email?" data-content="While there's no little star over there on the label, we do expect either a phone number or an email so that parents know how to contact you."></i>

        = f.label :day_home_email, 'Contact Email for Dayhome'
        = f.text_field :day_home_email
        <i class="icon-info-sign icon-white" data-title="Dayhome have its own phone or email?" data-content="While there's no little star over there on the label, we do expect either a phone number or an email so that parents know how to contact you."></i>

        = f.label :day_home_postal_code, 'Postal Code'
        = f.text_field :day_home_postal_code
        <i class="icon-info-sign icon-white" data-title="Why just a postal code?" data-content="We only ask, as a mandatory, a postal code, so we can find you approximately on a map.  Some folks don't want to share their actual address online...that's fine. If you, though, look just below."></i>
             
        = f.label :day_home_highlight, 'Front page highlight'
        = f.text_area :day_home_highlight, :rows => 6
        <i class="icon-info-sign icon-white" data-title="What's a highlight?" data-content="On our homepage, when we feature a dayhome, the name of the dayhome and the text you put below are displayed over one of your images.  This highlight has to be 200 characters or less so we can still see how wonderful you are in your picture."></i>
        
    .span5.well.form-horizontal
      %h3
        Now tell us a little about you        
      - if current_user      
        .alert.alert-success
          %i.icon-info-sign.icon-white
          Thanks for logging in, we've used a little info from your account below.  If you'd like to update that info, visit 
          = link_to "Your Account", user_path(current_user)
      
        = f.label :first_name, 'First Name'
        = f.text_field :first_name, :value=>current_user.first_name, :class=>:disabled, :disabled=>'disabled'
        
        = f.label :last_name, 'Last Name'
        = f.text_field :last_name, :value=>current_user.last_name, :class=>:disabled, :disabled=>'disabled'
        
        = f.label :contact_email, 'Email'
        = f.text_field :contact_email, :value=>current_user.email, :class=>:disabled, :disabled=>'disabled'
      -else        
        = f.label :first_name, 'First Name'
        = f.text_field :first_name

        = f.label :last_name, 'Last Name'
        = f.text_field :last_name
        
        = f.label :contact_email, 'Email'
        = f.text_field :contact_email
      
      = f.label :contact_phone_number, 'Phone Number'
      = f.text_field :contact_phone_number
      
      = f.label :preferred_time_to_contact, 'Preferred Time to Contact'
      = f.text_field :preferred_time_to_contact

      = f.label :comments, 'Comments or Questions?'
      = f.text_area :comments, :rows => 6

      
  .row.registrationStyle
    .well.form-horizontal.flair
      :plain
        <div><h3>Finally, add some Extra Flair<small>all of this is optional </small></h3></div>      
      .form-group
        .span5   
          = f.label :day_home_city, 'City'
          = f.text_field :day_home_city

          = f.label :day_home_province, 'Province'
          = f.state_select :day_home_province, 'CA'

          = f.label :day_home_street1, 'Street1'
          = f.text_field :day_home_street1

          = f.label :day_home_street2, 'Street2'
          = f.text_field :day_home_street2

          = f.label :day_home_blurb, 'Detailed Description'
          = f.text_area :day_home_blurb, :rows => 6
        .span3
          = f.label :availability_types, 'Full-time Availability', :style => 'font-weight: bold'
          - AvailabilityType.full_time.each do |availability|
            = f.label availability.kind, :class => :checkbox do 
              = check_box_tag 'day_home[assign_availability_type_ids][]', availability.id, false
              = availability.kind
  
          = f.label :availability_types, 'Part-time Availability', :style => 'font-weight: bold'
          - AvailabilityType.part_time.each do |availability|
            = f.label availability.kind, :class => :checkbox do 
              = check_box_tag 'day_home[assign_availability_type_ids][]', availability.id, false
              = availability.kind
        .span3
          = f.label :certification_types, 'Certification', :style => 'font-weight: bold'
          - CertificationType.all.each do |certification|
            = f.label certification.kind, :class => :checkbox do 
              = check_box_tag 'day_home[assign_certification_type_ids][]', certification.id, false
              = certification.kind      
      
          = f.label :dietary_accommodations, 'Dietary Accommodations', :style => 'font-weight: bold'
          = f.label :dietary_accommodations, 'Dietary Accommodations', :class => :checkbox do
            = check_box_tag 'day_home[dietary_accommodations]'
            Accommodates for Food Allergies

          = f.label :licensed, 'Licensed', :style => 'font-weight: bold'
          = f.label :licensed, 'Licensed', :class => :checkbox do
            = check_box_tag 'day_home[licensed]'
            Licensed
        .clear
  .row.registrationStyle    
    .center
      = f.submit 'Register', :class => :callToActionButton, :id=>:register_button
      = link_to 'Cancel', root_path