%h2
  Dayhome details
%br
== Name: #{@day_home_signup_request.day_home_name}
%br
== Slug: #{@day_home_signup_request.day_home_slug}
%br
== City: #{@day_home_signup_request.day_home_city}
%br
== Province: #{@day_home_signup_request.day_home_province}
%br
== Street1: #{@day_home_signup_request.day_home_street1}
%br
== Street2: #{@day_home_signup_request.day_home_street2}
%br
== Postal Code: #{@day_home_signup_request.day_home_postal_code}
%br
== Phone Number: #{@day_home_signup_request.day_home_phone_number}
%br
== Blurb: #{@day_home_signup_request.day_home_blurb}
%br

%h2
  Dayhome contact

%br
== Full Name: #{@day_home_signup_request.contact_name}
%br
== Phone Number: #{@day_home_signup_request.contact_phone_number}
%br
== Email: #{@day_home_signup_request.contact_email}
%br
== Preferred Time to Contact: #{@day_home_signup_request.preferred_time_to_contact}
%br
== Comments: #{@day_home_signup_request.comments}