:javascript
  $(function(){
    var changing=false;
    $('form').on("change","input[name$='[default_photo]']",function(event) {
      if(!changing){
        changing=true;
        $('form input[name$="[default_photo]"][type="checkbox"]').each(function(){
          $(this).prop("checked",false);
        });
        $(this).prop("checked",true);
        changing=false;
      }
    });

    add_another_mangement();
    $(".photo_preview").colorbox({rel:'photo_preview'});
    
    $('#day_home_name').keyup(function(e) {
      var parsed_subdomain = $(this).val().replace(/[^a-z0-9]/gi,'').toLowerCase();
      $('#day_home_slug').empty().val(parsed_subdomain);
    });

    $( ".datetimepicker" ).datepicker();
    
  });
  
.floatr
  -if @day_home.featured?
    %strong
      .featured-button.featured
        .ui-button-text
          Featured
          .fs_11
            until #{@day_home.feature_end_date}
= form_for [:admin, @day_home], :html => {:multipart => true,:class=>"form-horizontal"} do |f|
  =hidden_field(:page, params["page"])
  -if !@day_home.organization.nil?
    = link_to 'You can edit contact phone in the organization.', edit_admin_organization_path(@day_home.organization)
  .form-group
    = f.label :name, :class => 'col-sm-2'
    .col-sm-10
      = f.text_field :name

  .form-group
    = f.label 'Status', :class => 'col-sm-2'
    .col-sm-10
      .checkbox
        %label
          = f.check_box :approved
          Approved
      .checkbox
        %label
          = f.check_box :featured?
          Featured until
        = f.text_field "featured_end_date", :class => 'form-control datetimepicker'
  
  .form-group
    = f.label :community, :class => 'col-sm-2'
    .col-sm-2
      - @location = @day_home.location
      = collection_select(:location, :community_id, @communities, :id, :name)
  .form-group  
    = f.label :slug, 'Dayhome Slug', :class => 'col-sm-2'
    .col-sm-10
      .input-group
        .input-group-addon
          https://dayhomeregistry.com/
        = f.text_field :slug
  
  .form-group
    = f.label :phone_number, :class => 'col-sm-2'
    .col-sm-10
      = f.text_field :phone_number

  .form-group
    = f.label :email, :class => 'col-sm-2'
    .col-sm-10
      = f.text_field :email
  
  .form-group
    = f.label :highlight, :class => 'col-sm-2'
    .col-sm-10
      = f.text_area :highlight
  
  .form-group
    = f.label :blurb, :class => 'col-sm-2'
    .col-sm-10
      = f.text_area :blurb


  .form-group
    = f.label :street1, 'Street 1', :class => 'col-sm-2'
    .col-sm-10
      = f.text_field :street1

  .form-group
    = f.label :street2, 'Street 2', :class => 'col-sm-2'
    .col-sm-10
      = f.text_field :street2
  
  .form-group
    = f.label :postal_code, 'Postal Code', :class => 'col-sm-2'
    .col-sm-10
      = f.text_field :postal_code
    
  .form-group
    = f.label :city, :class => 'col-sm-2'
    .col-sm-10
      = f.text_field :city
  
  .form-group
    = f.label :province, :class => 'col-sm-2'
    .col-sm-10
      = f.subregion_select :province,'CA'
  .form-group
    = label_tag 'Caption & Photo', nil,:class=>'col-sm-2'
    .col-sm-10
      = f.fields_for :photos do |p|
        .add_multiples.clear{'data-group' => 'photos'}
          - if p.object.photo?
            .remove_contents
              = link_to image_tag(p.object.photo_url(:thumb), :style => 'max-height: 100px; margin: 0 5px 5px 0;', :class => :left), p.object.photo_url, :alt => p.object.caption, :class => 'photo_preview'
          = p.text_field :caption
          = p.check_box :default_photo        
          = 'Set as default'
          = p.check_box :_destroy, :style => 'display: none;' unless p.object.new_record?
          %br
          = p.file_field :photo
          = link_to 'Remove Photo', '#', :class => 'remove_fieldset_link', 'data-group' => 'photos', 'data-attribute-key' => 'photos_attributes'
        %br
      .clear
      %strong= link_to 'Add Another Photo', '#', :class => 'add_multiples_link', 'data-group' => 'photos', 'data-attribute-key' => 'photos_attributes'
  %br
  .form-group
    = f.label :availability_type_ids, 'Full-time Availability', :class=>'col-sm-2',:style => 'font-weight: bold'
    .col-sm-10
      =collection_check_boxes(:day_home, :availability_type_ids, AvailabilityType.full_time, :id, :kind) do |b|
        .checkbox
          = b.label(class: "check_box") do
            = b.check_box(class: "check_box")
            = b.object.kind
  .form-group
    = f.label :availability_types_ids, 'Part-time Availability', :class=>'col-sm-2',:style => 'font-weight: bold'
    .col-sm-10
      =collection_check_boxes(:day_home, :availability_type_ids, AvailabilityType.part_time, :id, :kind) do |b|
        .checkbox
          = b.label(class: "check_box") do
            = b.check_box(class: "check_box")
            = b.object.kind
  .form-group
    = f.label :certification_types, 'Certifications', :class=>'col-sm-2',:style => 'font-weight: bold'
    .col-sm-10
      =collection_check_boxes(:day_home, :certification_type_ids, CertificationType.all, :id, :kind) do |b|
        .checkbox
          = b.label(class: "check_box") do
            = b.check_box(class: "check_box")
            = b.object.kind
      
  .form-group
    = f.label :dietary_accommodations, 'Dietary Accommodations', :class=>'col-sm-2', :style => 'font-weight: bold'
    .col-sm-10
      .checkbox
        = f.label :dietary_accommodations, 'Dietary Accommodations', :class => :checkbox do
          = f.check_box :dietary_accommodations
          Accommodates for Food Allergies
  .form-group
    = f.label :licensed, 'Accredited', :class=>'col-sm-2', :style => 'font-weight: bold'
    .col-sm-10
      .checkbox
        = f.label :licensed, 'Accredited', :class => :checkbox do
          = f.check_box :licensed
          Accredited
  

        
  %br
  = f.submit 'Save', :class => 'btn'
  |
  = link_to 'Cancel', [:admin, :day_homes]