:javascript
  $(function(){
    $(".photo_preview").colorbox({rel:'photo_preview'});
    
    $("#select_all").click(function(){
        $(".select").prop("checked", true);
    });
    
    $("#approveBtn").click(function(event){
      $("#day_home_mass_function").val("approve");
      $("#mass_form").submit();
      
      event.preventDefault(); // Prevent link from following its href
    });
  });

= render '/layouts/admin_subnav'
= form_tag({:controller => "day_homes", :action => "mass_update"}, :method => "post", :id => "mass_form")
:plain
  <form action="/admin/day_homes/mass_update" id="mass_form">
=hidden_field(:day_home, :mass_function)  
%p
  = link_to 'Create dayhome', [:new, :admin, :day_home], :class => :btn
  = link_to 'Approve','#',:id => 'approveBtn',:class => :btn
        
- if @day_homes.blank?
  %p
    No dayhomes have been added yet!
- else
  %table.table-striped.table{:cellpadding => '5'}
    %thead
      %tr
        %th          
          = check_box_tag(:select_all)
        %th
          Name
        %th
          Address
        %th
          Photos
        %th
          Featured?
        %th
          Approved?		  
        %th
          Owners
        %th
          Actions
    %tbody
      - @day_homes.each do |day_home|
        %tr
          %td
            = check_box_tag "select["+day_home.slug+"]",day_home.slug,false,:class => "select"
          %td
            = link_to day_home.name, day_home_slug_path(day_home.slug)
          %td
            = day_home.address
          %td
            - if day_home.photos.blank?
              None
            - else
              - day_home.photos.each do |photo|
                = link_to image_tag(photo.photo_url(:thumb), :style => 'max-height: 25px; margin: 0 5px 5px 0;', :class => :left), photo.photo_url, :class => 'photo_preview', :alt => photo.caption, :title => photo.caption
          %td
            = yes_no(day_home.featured)
          %td
            = yes_no(day_home.approved)			
          %td
            - if day_home.users.any?
              = day_home.users.map(&:full_name).join(', ')
            - else
              None
          %td
            = link_to 'Edit', [:edit, :admin, day_home]
            |
            = link_to 'Delete', [:admin, day_home], :method => :delete, :confirm => "Are you sure?"    
  = paginate @day_homes, :outer_window => 3
:plain
  </form>    