:javascript
  $(function(){
    $(".photo_preview").colorbox({rel:'photo_preview'});
  });

%p
  = link_to 'Create Dayhome', [:new, :admin, :day_home], :class => :btn

- if @day_homes.blank?
  %p
    No day homes have been added yet!
- else
  %table.table-striped.table{:cellpadding => '5'}
    %thead
      %tr
        %th
          Name
        %th
          Address
        %th
          Photos
        %th
          Featured?
        %th
          Actions
    %tbody
      - @day_homes.each do |day_home|
        %tr
          %td
            = day_home.name
          %td
            = day_home.address
          %td
            - day_home.photos.each do |photo|
              = link_to image_tag(photo.photo_url(:thumb), :style => 'max-height: 25px; margin: 0 5px 5px 0;', :class => :left), photo.photo_url, :class => 'photo_preview', :title => photo.caption
          %td
            = yes_no(day_home.featured)
          %td
            = link_to 'Edit', [:edit, :admin, day_home]
            |
            = link_to 'Delete', [:admin, day_home], :method => :delete, :confirm => "Are you sure?"
  = paginate @day_homes