= form_for @user || current_user do |f|
  = f.label :first_name
  = f.text_field :first_name

  = f.label :last_name
  = f.text_field :last_name

  = f.label :email
  = f.email_field :email

  = f.label :password
  = f.password_field :password

  = f.label :password_confirmation, 'Confirm Password'
  = f.password_field :password_confirmation

  -if (!current_user.nil? && !current_user.organization.nil?)
    = f.label :location
    = collection_select(:user, :location_id, Location.where("organization_id = "+ current_user.organization.id.to_s), :id, :name,:include_blank=>true)

  %br
  %br
  = f.submit 'Update Account', :class => :btn
  |
  = link_to 'Cancel', root_path