%p
  = link_to 'Create User', [:new, :user], :class => 'btn btn-default'

- if @users.blank?
  %p
    No users have been added yet - how are you logged in?
- else
  %h2
    All Location Users
  %p
    All the users listed here will be notified when a Dayhome is contacted and when new dayhomes are created.
  %table.table-striped.table{:cellpadding => '5'}
    %thead
      %tr
        %th
          Full Name
        %th
          Email
        %th
          Created
        %th
          Actions
    %tbody
      - @users.where("location_id is null").each do |user|
        %tr
          %td
            = user.full_name
          %td
            = user.email
          %td
            = user.created_at.to_s(:descriptive)
          %td
            = link_to 'Edit', [:edit, user]
            |
            = link_to 'Delete', [user], :method => :delete, :confirm => "Are you sure you want to remove #{user.full_name}?"
            |
            = form_tag(user_send_reset_password_instructions_path(user),:id=>"reset_password_form_#{user.id}") do
              = link_to 'Reset Password', '#', name:"reset_#{user.id}", id: "reset_#{user.id}", data: {name:user.full_name,id:user.id}
-current_user.organization.locations.each do |locale|            
  %h2
    =locale.name + " users"
  %p
    All the users listed here will be notified when a Dayhome in this locale is contacted and when new dayhomes are created.
  %table.table-striped.table{:cellpadding => '5'}
    %thead
      %tr
        %th
          Full Name
        %th
          Email
        %th
          Created
        %th
          Actions
    %tbody
      - @users.where("location_id = " +locale.id.to_s).each do |user|
        %tr
          %td
            = user.full_name
          %td
            = user.email
          %td
            = user.created_at.to_s(:descriptive)
          %td
            = link_to 'Edit', [:edit, user]
            |
            = link_to 'Delete', [user], :method => :delete, :confirm => "Are you sure you want to remove #{user.full_name}?"
            |
            = form_tag(user_send_reset_password_instructions_path(user),:id=>"reset_password_form_#{user.id}") do
              = link_to 'Reset Password', '#', name:"reset_#{user.id}", id: "reset_#{user.id}", data: {name:user.full_name,id:user.id}
    
  = paginate @users

:javascript
  $('a[id^="reset"]').on('click',function(e){
    var name = $(this).attr('data-name');
    var id = $(this).attr('data-id');
    if(confirm('Are you sure you want to reset the password for ' + name + '?')){
      $('#reset_password_form_'+id).submit();
    }
    e.preventDefault();
  });