%p
  = link_to 'Create User', [:new, :user], :class => :btn

- if @users.blank?
  %p
    No users have been added yet - how are you logged in?
- else
  %h2
    Admin users
  %p
    All the users listed here will be notified when a Dayhome is contacted and when new dayhomes are created.
  %table.table-striped.table{:cellpadding => '5'}
    %thead
      %tr
        %th
          Full Name
        %th
          Email
        %th
          Created
        %th
          Actions
    %tbody
      - @users.where("location_id is null").each do |user|
        %tr
          %td
            = user.full_name
          %td
            = user.email
          %td
            = user.created_at.to_s(:descriptive)
          %td
            = link_to 'Edit', [:edit, user]
            |
            = link_to 'Delete', [user], :method => :delete, :confirm => "Are you sure you want to remove #{user.full_name}?"
            |
            = link_to 'Reset Password', reset_password_admin_path(user.id), :confirm => "Are you sure you want to reset the password for #{user.full_name}?"
-current_user.organization.locations.each do |locale|            
  %h2
    =locale.name + " users"
  %p
    All the users listed here will be notified when a Dayhome in this locale is contacted and when new dayhomes are created.
  %table.table-striped.table{:cellpadding => '5'}
    %thead
      %tr
        %th
          Full Name
        %th
          Email
        %th
          Created
        %th
          Actions
    %tbody
      - @users.where("location_id = " +locale.id.to_s).each do |user|
        %tr
          %td
            = user.full_name
          %td
            = user.email
          %td
            = user.created_at.to_s(:descriptive)
          %td
            = link_to 'Edit', [:edit, user]
            |
            = link_to 'Delete', [user], :method => :delete, :confirm => "Are you sure you want to remove #{user.full_name}?"
            |
            = link_to 'Reset Password', reset_password_admin_path(user.id), :confirm => "Are you sure you want to reset the password for #{user.full_name}?"
                      
  = paginate @users