-content_for :footer_scripts do
  = javascript_include_tag :upgrade, :upgrade_init
-if @organization.errors.any?  
  .alert.alert-error
    %h3
      It seems that 
      = pluralize(@organization.errors.count, "error")
      prevented the upgrade:
    %ul  
      - @organization.errors.full_messages.each do |msg|
        %li
        = msg
.container.primary-content
  %table.pricingTable.upgrade-page{:align => "center", :cellpadding => "0", :cellspacing => "0"}
    %tbody
      %tr{:valign => "top"}
        %th.pricingSelect
          Choose Your Plan
        - @packages.each_with_index do |(key,value),index|
          %th.enabled{ :width=>"135" ,:class=>"package_#{key} column_#{@packages.count-index}"}
            =value.name
            .price
              %strong                
                -if(value.price<=0)
                  %span.dollar-sign>
                    Free
                -else
                  %span.dollar-sign> $
                  %span> #{value.price}
                  %span.cents> 00
                  %span.permonth> /#{value.subscription}
            %a.button.medium.green{:href => ""}
              %span Select               
      %tr
        %td.pricingLeft
          \# of dayhomes you can manage
        - @packages.each_with_index do |(key,value),index|
          %td.enabled{:rel=>"#{key}", :class=>"package_#{key}"}
            %strong
              -if (value.day_homes < 0)
                Unlimited
              -else
                =value.day_homes   
      %tr
        %td.pricingLeft
          Additional staff who can access your account
        - @packages.each_with_index do |(key,value),index|
          %td.enabled{:rel=>"#{key}", :class=>"package_#{key}"}
            %span
              -if (value.staff < 0)
                Unlimited
              -else
                =value.staff
            /-if (value.block_staff_addon==0)
            /  %span.row-tiny ($10 each additional)
      %tr
        %td.pricingLeft
          \# of Communities
        - @packages.each_with_index do |(key,value),index|
          %td.enabled{:rel=>"#{key}", :class=>"package_#{key}"}
            %span
              -if (value.locales < 0)
                Unlimited
              -else
                =value.locales
            /-if (value.block_locales_addon==0)
            /  %span.row-tiny ($10 each additional)  
      %tr
        %td.pricingLeft
          \Free Features
        - @packages.each_with_index do |(key,value),index|
          %td.enabled{:rel=>"#{key}", :class=>"package_#{key}"}
            %span
              -if (value.free_features < 0)
                Unlimited
              -else
                =value.free_features
            -if value.free_features != 0
              %span.row-tiny-inline /#{value.subscription} 
      %tr
        %td.pricingLeft
          \Free Events
        - @packages.each_with_index do |(key,value),index|
          %td.enabled{:rel=>"#{key}", :class=>"package_#{key}"}
            -if (value.events < 0)
              Unlimited
            -else
              =value.events        
      %tr.last-row
        %td.pricingLeft
          \
        - @packages.each_with_index do |(key,value),index|
          %td.enabled{ :rel=>"#{key}", :class=>"package_#{key} column_#{@packages.count-index}"}
            %a.button.medium.green{:href => "", :class=>"a_package#{key}"}
              %span Select  


  = form_for @upgrade,:url => billing_upgrade_path(),:method => :put, :html=>{:class=>"form-horizontal",:id=>"upgrade-form", :style=>""} do |f|
    = hidden_field_tag 'choose-package', @existing.id
    = hidden_field_tag 'plan', @upgrade.new_plan
    %br
    #add-on-section{:style=>""}
      %h3#addon-header.section-header
        What you get...
      .span-22.append-bottom-1
        .blurbs
          %div
            Over 600 parents looking for dayhomes every week.
          #feature_blurb.bold
            You can highlight your dayhome on our homepage and in social media 
            %span.feature_frequency
          #dayhome_blurb.bold
            You can manage  
            %span.dayhome_count 
            dayhomes from one simple page.
          #community_blurb.bold
            You can register to be a part of 
            %span.community_count
            of our growing communities of active child care providers.
          #event_blurb.bold
            You get to attend one of our riviting information sessions for free, 
            %span.blue a $20 value!
          #staff_blurb.bold
            You can have up to 
            %span.staff_count
            extra email addresses of staff to receive contacts from the parents.
          %div
            Remember, you can always add
            = succeed "like" do
              %a#A1{:href => "buy.htm"}
                %span one-time use extras
            "Featuring your dayhome" credits.
      .span-13.append-bottom-2
        #total_box.bg_orange.hide{:style => "display: block;"}
          %h4.sidebar_header_orange
            %span Pricing Details
          %table.fs_11{:cellpadding => "2", :cellspacing => "0", :width => "100%"}
            %tbody
              %tr#total_box_base{:style => "", :valign => "top"}
                %td
                  %strong
                    %span#package_name Baby Bear
                %td{:align => "right"}
                  %span.amount 0.00
              %tr#total_box_features{:style => ""}
                %td
                  %span.num>
                  Free Feature
                %td{:align => "right"}
                  %span.amount
              %tr#total_box_events{:style => ""}
                %td
                  %span.num>
                  Free Event
                %td{:align => "right"}
                  %span.amount
              %tr#total_box_total
                %td
                  %strong.title> Total value
                  \:
                %td{:align => "right"}
                  %strong
                    $
                    %span.amount 0.00              
              %tr
                %td{:colspan => "2", :style => "height: 5px; overflow: hidden;"}
              %tr#total_box_rate
                %td
                  %strong.title> You pay
                  \:
                %td{:align => "right"}
                  %strong
                    $
                    %span.amount 0.00
    .clear
    #credit-card-section{:style => "display:none;"}
      %h3.section-header
        Credit Card Information  
      = f.hidden_field :stripe_card_token   
      .append-bottom-1  
        #stripe_error
          %noscript
            Javascript is not enabled and is required for this form.  First enable it in your web browser settings.   
      -if !@credit_card.nil?
        #existingCard
          .control-group                
            .control-label
              Current Card
            .controls  
              .append-bottom-1.first            
                =label_tag :existing_card_number, "**** **** **** "+@credit_card[:last4], :style=>"width:150px;"
                .span-7
                  =label_tag :existing_card_exp, "Exp:"+@credit_card[:month].to_s+"/"+@credit_card[:year].to_s, :style=>"display:inline;padding-right:5px;"        
                .clear
              .append-bottom-1
                .span-7
                  = link_to 'Enter a new credit card','#', :id=>'change_credit_card_link'   
      #newCard{:style=>"display:#{(@credit_card.nil? && 'block') || 'none'};"}      
        .append-bottom-1
          .span-25
            /
              .control-group
                %label.control-label{:for => "BILL_NAME"}
                  Name on Card
                .controls
                  %input#BILL_NAME.input-large{:name => "BILL_NAME", :type => "text", :value => ""}
            .control-group          
              =label_tag :card_number, "Card Number", :class=>"control-label"            
              .controls  
                .span-11
                  =text_field_tag :card_number, '', :name=>nil, :class=>"input-large",:onkeypress => "return numbersonly2(this, event)"
                  .example
                    Number
                .span-4
                  =text_field_tag :card_code, nil, name:nil, :class=>"input-mini"
                  .example
                    CVV
                    <i class="glyphicon glyphicon-info-sign" data-title="What's a CVV?" data-content="The CVV Number ("Card Verification Value") on your credit card or debit card is a 3 digit number on VISA速, MasterCard速 and Discover速 branded credit and debit cards. On your American Express速 branded credit or debit card it is a 4 digit numeric code."></i>      
            .control-group
              =label_tag :card_expiry, "Expiry date", :class=>"control-label"  
              .controls
                .span-6.append-bottom-1
                  =select_month nil, {add_month_numbers: true},{name:nil,id:"card_month"}
                  .example
                    Month
                .span-6.append-bottom-1
                  =select_year nil, {start_year:Date.today.year,end_year:Date.today.year+15}, {name:nil, id: "card_year"}
                  .example.first
                    Year  
            - if !@credit_card.nil?
              .control-group
                .controls
                  .span-7
                    = link_to 'Keep card on record', '#', :id=>'cancel_credit_card_link'
          .span-12
            %strong Need Help? Call us!
            %br
              .gray50.fs_11
                .append-bottom-half
                  Call us Monday-Friday, 8am-4pm MST
                  %br
                    at +1-877-564-8937
                  %br
        .clear                              
        .clear    
      %h3
        .submit-container
          %span.button.large.green.single
            %input#pay-now-button{:name => "paynow", :type => "submit", :value => "Pay Now"}
:javascript
  Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));

  var Dayhome = Dayhome || {};

  Dayhome.upgradePage = {
    existing: #{@existing.to_json},
    packages: #{@packages.to_json},
    additional_cost: {
        staff: function (n) {
            return parseInt(n, 10) * 10 || 0;
        },
        locales: function (n) {
            //return { "1": 10, "2": 20, "3": 30, "4": 40, "5": 50, "1500": 60, "1750": 70, "2000": 80, "3000": 120, "4000": 160, "5000": 200}[n] || 0;
            return parseInt(n, 10) * 10 || 0;
        }
    },
    current:{
      staff: #{[(@organization.users.count-1),0].max.to_s},
      locales: #{[@organization.locations.count,0].max.to_s}
    },
    index: {
    }
  }
  $('#change_credit_card_link').click(function(){
    $('#existingCard').hide();
    $('#newCard').show();
    return false;
  });
  $('#cancel_credit_card_link').click(function(){
    $('#newCard').hide();
    $('#existingCard').show();
    $('#card_number').val("")
    return false;
  });