-content_for :footer_scripts do
  = javascript_include_tag :upgrade, :upgrade_init
.container.primary-content
  %table.pricingTable.upgrade-page{:align => "center", :cellpadding => "0", :cellspacing => "0"}
    %tbody
      %tr{:valign => "top"}
        %th.pricingSelect
          Choose Your Plan
        - @packages.each_with_index do |(key,value),index|
          %th.enabled{ :width=>"135" ,:class=>"package_#{key} column_#{@packages.count-index}"}
            =value.name
            .price
              %strong                
                -if(value.price<=0)
                  %span.dollar-sign>
                    Free
                -else
                  %span.dollar-sign> $
                  %span> #{value.price}
                  %span.cents> 00
                  %span.permonth> /mth
            %a.button.medium.green{:href => ""}
              %span Select              
      %tr
        %td.pricingLeft
          \# of dayhomes you can manage
        - @packages.each_with_index do |(key,value),index|
          %td.enabled{:rel=>"#{key}", :class=>"package_#{key}"}
            %strong
              -if (value.day_homes < 0)
                Unlimited
              -else
                =value.day_homes
      /    
        %tr
          %td.pricingLeft
            Waiting lists
          %td.package_78.enabled{:rel => "78", :style => "cursor: pointer;"}
            %span 0
            %span.row-tiny ($10 each additional)
          %td.package_79.enabled{:rel => "79"}
            %span 10
            %span.row-tiny ($10 each additional)
          %td.package_80.enabled{:rel => "80"}
            %span 100
            %span.row-tiny ($10 each additional)
          %td.package_81.enabled{:rel => "81"}
            %span Unlimited
      %tr
        %td.pricingLeft
          Additional staff who can access your account
        - @packages.each_with_index do |(key,value),index|
          %td.enabled{:rel=>"#{key}", :class=>"package_#{key}"}
            %span
              -if (value.staff < 0)
                Unlimited
              -else
                =value.staff
            -if (value.block_staff_addon==0)
              %span.row-tiny ($10 each additional)
      %tr
        %td.pricingLeft
          \# of Locales
        - @packages.each_with_index do |(key,value),index|
          %td.enabled{:rel=>"#{key}", :class=>"package_#{key}"}
            %span
              -if (value.locales < 0)
                Unlimited
              -else
                =value.locales
            -if (value.block_locales_addon==0)
              %span.row-tiny ($10 each additional)  
      %tr.last-row
        %td.pricingLeft
          \
        - @packages.each_with_index do |(key,value),index|
          %td.enabled{ :rel=>"#{key}", :class=>"package_#{key} column_#{@packages.count-index}"}
            %a.button.medium.green{:href => "", :class=>"a_package#{key}"}
              %span Select  

  = form_for @upgrade,:url => billing_upgrade_path(),:method => :put, :html=>{:class=>"form-horizontal",:id=>"upgrade-form", :style=>""} do |f|
    = hidden_field_tag 'choose-package', @existing.id
    = hidden_field_tag 'plan', @upgrade.plan
    %br
    #add-on-section{:style=>""}
      %h3#addon-header.section-header.section-header-first{:style => "display: none;"}
        Choose Any Extras You May Need
      .span-22.append-bottom-1{:style => "display: none;"}
        #addon_staff{:style => "display: none;"}
          .control-group
            %label.control-label{:for => "staff"}
              Extra Staff
            .controls
              %input#staff.addonInput.input-mini{:maxlength => "4", :name => "staff", :onkeypress => "return numbersonly2(this, event)", :type => "text", :value => ""}
                \
                %span.example $10/month each
        #addon_locales{:style => "display: none;"}
          .control-group
            %label.control-label{:for => "locales"}
              Extra Locales
            .controls
              %select#locales.formSelect.addonInput.input-large{:disabled => "", :name => "locales"}
                %option{:value => "0"}
                %option{:value => "1"} +1 locale ($10/month)
                %option{:value => "2"} +2 locale ($20/month)
                %option{:value => "3"} +3 locale ($30/month)
                %option{:value => "4"} +4 locale ($40/month)
                %option{:value => "5"} +5 locale ($50/month)
        %div
          %div{:style => "margin: 0 45px; font-weight: bold; padding-left: 45px;"}
            You can add
            = succeed "like" do
              %a#A1{:href => "buy.htm"}
                %span one-time use extras
            Featuring your dayhome or adding a waiting list later.
      .span-13.append-bottom-2
        #total_box.bg_orange.hide{:style => "display: block;"}
          %h4.sidebar_header_orange
            %span Upgrade Details
          %table.fs_11{:cellpadding => "2", :cellspacing => "0", :width => "100%"}
            %tbody
              %tr#total_box_base{:style => "", :valign => "top"}
                %td
                  %strong
                    Selected plan -
                    %span#package_name Baby Bear
                  %br
                    %div{:style => "padding-left: 15px;"}
                      (
                      %span#limit_day_homes> 1
                      \dayhome(s),
                      = succeed " staff," do
                        %span#limit_staff 0
                      = succeed " locale(s))" do
                        %span#limit_locales 1
                %td{:align => "right"}
                  %span.amount 0.00
              /
                %tr#total_box_cur_staff{:style => "display: none;"}
                  %td
                    %span.num>
                    Current staff 
                  %td{:align => "right"}
                    %span.amount
              %tr#total_box_staff{:style => "display: none;"}
                %td
                  %span.num>
                  Extra staff 
                %td{:align => "right"}
                  %span.amount
              /
                %tr#total_box_cur_locales{:style => "display: none;"}
                  %td
                    %span.num>
                    Current Locales 
                  %td{:align => "right"}
                    %span.amount
              %tr#total_box_locales{:style => "display: none;"}
                %td
                  %span.num>
                  Extra locales
                %td{:align => "right"}
                  %span.amount
              %tr#total_box_auto_bill{:style => "display: none;"}
                %td
                  %span.num>
                  Extra auto-bills
                %td{:align => "right"}
                  %span.amount
              %tr#total_box_storage{:style => "display: none;"}
                %td
                  %span.num>
                  MB Extra document space
                %td{:align => "right"}
                  %span.amount
              %tr
                %td{:colspan => "2", :style => "height: 5px; overflow: hidden;"}
              %tr#total_box_total
                %td
                  %strong.title> Monthly Rate
                  \:
                %td{:align => "right"}
                  %strong
                    $
                    %span.amount 0.00
    .clear
    #credit-card-section{:style => "display:none;"}
      %h3.section-header
        Enter Your Credit Card Information
      = f.hidden_field :stripe_card_token
      .append-bottom-1  
        #stripe_error
          %noscript
            Javascript is not enabled and is required for this form.  First enable it in your web browser settings.                
      .append-bottom-1
        .span-25
          /
            .control-group
              %label.control-label{:for => "BILL_NAME"}
                Name on Card
              .controls
                %input#BILL_NAME.input-large{:name => "BILL_NAME", :type => "text", :value => ""}
          .control-group          
            =label_tag :card_number, "Card Number", :class=>"control-label"            
            .controls  
              .span-11
                =text_field_tag :card_number, '', :name=>nil, :class=>"input-large",:onkeypress => "return numbersonly2(this, event)"
                .example
                  Number
              .span-4
                =text_field_tag :card_code, nil, name:nil, :class=>"input-mini"
                .example
                  CVV
                  <i class="icon-info-sign" data-title="What's a CVV?" data-content="The CVV Number ("Card Verification Value") on your credit card or debit card is a 3 digit number on VISA速, MasterCard速 and Discover速 branded credit and debit cards. On your American Express速 branded credit or debit card it is a 4 digit numeric code."></i>      
          .control-group
            =label_tag :card_expiry, "Expiry date", :class=>"control-label"  
            .controls
              .span-6.append-bottom-1
                =select_month nil, {add_month_numbers: true},{name:nil,id:"card_month"}
                .example
                  Month
              .span-6.append-bottom-1
                =select_year nil, {start_year:Date.today.year,end_year:Date.today.year+15}, {name:nil, id: "card_year"}
                .example.first
                  Year   
        .span-12
          %strong Need Help? Call us!
          %br
            .gray50.fs_11
              .append-bottom-half
                Call us Monday-Friday, 8am-4pm MST
                %br
                  at +1-780-975-1290
                %br
      .clear                              
      .clear    
    %h3
      .submit-container
        %span.button.large.green.single
          %input#pay-now-button{:name => "paynow", :type => "submit", :value => "Pay Now"}
:javascript
  Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));

  var Dayhome = Dayhome || {};

  Dayhome.upgradePage = {
    existing: #{@existing.to_json},
    packages: #{@packages.to_json},
    additional_cost: {
        staff: function (n) {
            return parseInt(n, 10) * 10 || 0;
        },
        locales: function (n) {
            //return { "1": 10, "2": 20, "3": 30, "4": 40, "5": 50, "1500": 60, "1750": 70, "2000": 80, "3000": 120, "4000": 160, "5000": 200}[n] || 0;
            return parseInt(n, 10) * 10 || 0;
        }
    },
    current:{
      staff: #{[(@organization.users.count-1),0].max.to_s},
      locales: #{[@organization.locations.count,0].max.to_s}
    },
    index: {
    }
  }