/= javascript_include_tag :billing, :billing_init
:javascript
  $('#day_home_signup_request_day_home_city').change(function(){
    select = $("#community_id option");//[value='"+$(this).val()+"']:first");
    if(select.length){
      for(var i = 0; i < select.length; i++) {
        if($(select[i]).html()==$(this).val()){
          $(select[i]).attr("selected", true);
          $(select).change();
        } 
      }
    } 
  });
  $('#community_id').change(function(){
    selected = $("#community_id").find(":selected");
    if ($(selected).html()=="Other"){
      $("#community_name").show();
    } else {
      $("#community_name").hide();
    } 
  });

  $(function() {
    $("textarea[maxlength]").each(function() {
        var $this = $(this);
        var maxLength = parseInt($this.attr('maxlength'));
        $this.attr('maxlength', null);
        var cc = $this.val().length;
        var el = $("<div class=\"controls character-count\" style=\"clear:left;\">" + (maxLength-cc) + "</div>");
        el.insertAfter($this.parent().children().last()[0]);
        
        $this.bind('keyup', function() {
            var cc = $this.val().length;
            if(cc>maxLength){
                //var pre= $this.val().slice(1,maxLength);
                //$this.html(pre+'<em>'+$this.val().slice(maxLength)+'</em>');
                $this.css("background","#FCC");
            } else {
                $this.css("background","#FFF");
            }
            
            el.text(maxLength - cc);
            
            if(maxLength < cc) {
                el.css('color', 'red');
            } else {
                el.removeAttr("style");
                el.css("clear","left");
            }
        });
    });
  }); 

= form_for @day_home_signup_request,:url => billing_register_path(),:method => :put, :html=>{:class=>"form-horizontal",:id=>"billing-form", :style=>""} do |f|            
  .clear
  %h3.section-header
    Tell us a little about yourself
  - flash.each do |type, value|
    -if type.to_s.starts_with?('page')
      .flash{ :class => "alert alert-" + type.to_s }
        = raw (value )
  .form-group
    = f.label :day_home_name, 'Dayhome Name', :class=>"control-lable col-sm-2"
    .col-sm-10
      = f.text_field :day_home_name, :class=>"form-control"
      <i class="glyphicon glyphicon-info-sign" data-title="What's in a name?" data-content="This is the name of your dayhome. Don't have one? Well, pick something that you'll want your parents to know you by...it's your first impression when attracting new families."></i>
  .form-group
    = f.label :day_home_slug, 'Web Address', :class=>"control-lable col-sm-2"
    .col-sm-10
      .input-group
        .input-group-addon
          https://dayhomeregistry.com/
        = f.text_field :day_home_slug
      <i class="icon-info-sign" data-title="What's a web address?" data-content="The web address is the short name that makes it easy for you and your customers to find your page.  The web address that you see to the left will be your home on our website."></i>             
  .form-group
    = f.label :day_home_highlight, 'Front page highlight (max 200 chars)', :class=>"control-lable col-sm-2"
    .col-sm-10
      = f.text_area :day_home_highlight, :rows => 4, :class=>"form-control", :maxLength=>"200"
      <i class="icon-info-sign" data-title="What's a highlight?" data-content="On our homepage, when we feature a dayhome, the name of the dayhome and the text you put below are displayed over one of your images.  This highlight has to be 200 characters or less so we can still see how wonderful you are in your picture."></i>
  .form-group
    = f.label :day_home_highlight, 'Full description', :class=>"control-lable col-sm-2"
    .col-sm-10
      = f.text_area :day_home_blurb, :rows => 8, :class=>"form-control"
      <i class="icon-info-sign" data-title="What's a highlight?" data-content="This is a full description of you and what you do.  This is your time to shine."></i>
  .form-group
    .col-sm-2
    .col-sm-10
      = label_tag "ack", :class => :checkbox, :style=>"margin-left:20px;" do       
        = check_box_tag "ack","yes",false,:class => "select"
        I have read and understood the 
        =link_to "Privacy Policy and Terms of Use","/pages/privacy"    
  .form-group
    =f.label :day_home_street1,'Street Address', :class=>"control-lable col-sm-2"         
    .col-sm-10
      .append-bottom-1
        = f.text_field :day_home_street1, :class=>"form-control"          
        .example
          Street
      .append-bottom-1
        = f.text_field :day_home_city, :class=>"form-control"            
        .example
          City
      .append-bottom-1
        = f.subregion_select :day_home_province,'CA'
        .example
          Province
      .append-bottom-1
        = f.text_field :day_home_postal_code
        .example
          Postal/Zip Code
  .section-header
  .form-group
    =f.label :first_name,'Your name', :class=>"control-lable col-sm-2"         
    .col-sm-10
      .append-bottom-1
        = f.text_field :first_name,:class=>"form-control"    
        .example
          First
      .append-bottom-1
        = f.text_field :last_name,:class=>"form-control"             
        .example
          Last
  .form-group.append-bottom-1
    = f.label :contact_phone_number, 'Phone Number', :class=>"control-lable col-sm-2"        
    .col-sm-10
      = f.text_field :contact_phone_number
  .form-group
    = f.label :contact_email, 'Email Address (login)', :class=>"control-lable col-sm-2"        
    .col-sm-10
      = f.text_field :contact_email,:class=>"form-control"    
  .form-group
    = f.label :password, 'Password', :class=>"control-lable col-sm-2"        
    .col-sm-10
      = f.password_field :password
  .clearb              
  .form-group.append-bottom-1
    = f.label :password_confirmation, 'Confirm password', :class=>"control-lable col-sm-2"        
    .col-sm-10
      = f.password_field :password_confirmation
  %h3#addon-header.section-header
    Your Community...
  .section-text
    We're building communities of dayhomes that help parents know where to find you and dayhomes in your community connect.  Which community would you like to be a part of?
  .form-group
    = f.label :community, 'Community', :class=>"control-lable col-sm-2"        
    .col-sm-10  
      = select("community", "id", options_from_collection_for_select(@communities, "id", "name",1), {prompt: 'Other'},{ :class=>"form-control"})
      = text_field :community, :name, style:"display:none", class: "form-control"
  %h3#addon-header.section-header
    Good Karma...
  .form-group
    = f.label :referral_email, 'Referral Email', :class=>"control-lable col-sm-2"        
    .col-sm-10
      = f.text_field :referral_email, class:"form-control"
      <i class="icon-info-sign" data-title="Hear about us from a parent?" data-content="Enter an email address of a parent registered on this site and we'll add them into our monthly draw."></i>
  .form-group.append-bottom-1
    = f.label :coupon, 'Coupon code', :class=>"control-lable col-sm-2"        
    .col-sm-10
      = f.text_field :coupon
      <i class="icon-info-sign" data-title="Have a coupon?" data-content="If you found one of our coupons in an add, enter it here to receive your discount."></i>
  .clearb
                          
  .form-group
    .col-xs-12.col-md-12.text-center#js-submit-button
      %button.btn.btn-primary.btn-lg.submit{:type=>"submit", :disabled=>"false"}
        Continue
  .clearb
         
  / #credit-card-section{:style => "display:none;"}
  /   = f.hidden_field :stripe_card_token
  /   %h3.section-header
  /     Enter Your Credit Card Information
  /   .append-bottom-1  
  /     #stripe_error
  /       %noscript
  /         Javascript is not enabled and is required for this form.  First enable it in your web browser settings.                
  /     .form-group
  /       =label_tag :card_number, "Card Number", :class=>"control-lable col-sm-2"            
  /       .col-sm-10  
  /         %div
  /           =text_field_tag :card_number, '', :name=>nil, :class=>"input-large form-control",:onkeypress => "return numbersonly2(this, event)"
  /           .example
  /             Number
  /         .append-bottom-1
  /           =text_field_tag :card_code, nil, name:nil, :class=>"input-mini"
  /           .example
  /             CVV
  /             <i class="icon-info-sign" data-title="What's a CVV?" data-content="The CVV Number ("Card Verification Value") on your credit card or debit card is a 3 digit number on VISA®, MasterCard® and Discover® branded credit and debit cards. On your American Express® branded credit or debit card it is a 4 digit numeric code."></i>      
  /     .form-group
  /       =label_tag :card_expiry, "Expiry date", :class=>"control-lable col-sm-2"  
  /       .col-sm-2
  /         =select_month nil, {add_month_numbers: true},{name:nil,id:"card_month"}
  /         .example
  /           Month
  /       .col-sm-2   
  /         =select_year nil, {start_year:Date.today.year,end_year:Date.today.year+15}, {name:nil, id: "card_year"}
  /         .example.first
  /           Year   
  /       .col-sm-6
  /         %strong Need Help? Call us!
  /         %br
  /           .gray50.fs_11
  /             .append-bottom-half
  /               Call us Monday-Friday, 8am-4pm MST
  /               %br
  /                 at +1-877-564-8937
  /               %br
  /   .clear                            
  /   .clear
  
  / .submit-container
  /   %span.button.large.green.single
  /     %input#pay-now-button{:name => "paynow", :type => "submit", :value => "Pay Now"}
:javascript
  //$('.icon-info-sign').popover() ;
  if($('.alert-page-error').length>0) {
    try {
      $.scrollTo($('.alert-page-error').position().top - ($(window).height() / 2),
        { speed: 'slow'}
      );
    } catch(err) {alert(err);}
  }
  
  //Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));

  $('#day_home_signup_request_day_home_name').keyup(function(e) {
      var parsed_subdomain = $(this).val().replace(/[^a-z0-9]/gi,'').toLowerCase();
      $('#day_home_signup_request_day_home_slug').empty().attr('value', parsed_subdomain);
  });

  /*
  var Dayhome = Dayhome || {};

    Dayhome.billingPage = {
    existing: #{@existing.to_json},
    packages: #{@monthly.to_json},
    additional_cost: {
        staff: function (n) {
            return parseInt(n, 10) * 10 || 0;
        },
        locales: function (n) {
            //return { "1": 10, "2": 20, "3": 30, "4": 40, "5": 50, "1500": 60, "1750": 70, "2000": 80, "3000": 120, "4000": 160, "5000": 200}[n] || 0;
            return parseInt(n, 10) * 10 || 0;
        }
    },
    current:{
    },
    index: {
    }
  };*/


