-content_for :footer_scripts do
  = javascript_include_tag :upgrade, :upgrade_init
.container.primary-content
  %table.pricingTable.upgrade-page{:align => "center", :cellpadding => "0", :cellspacing => "0"}
    %tbody
      %tr{:valign => "top"}
        %th.pricingSelect
          Choose Your Plan
        %th.package_78.enabled.column_4.selected_package{ :width => "135"}
          Baby Bear
          .price
            %strong
              %span.dollar-sign Free
          %a.button.medium.green{:href => ""}
            %span Select
        %th.package_79.enabled.column_3{ :width => "135"}
          Mama Bear
          .price
            %strong
              %span.dollar-sign> $
              %span> 50
              %span.cents 00
            %span.permonth> /mth
          %a.button.medium.green{:href => ""}
            %span Select
        %th.package_80.enabled.column_2{ :width => "135"}
          Papa Bear
          .price
            %strong
              %span.dollar-sign> $
              %span> 250
              %span.cents> 00
            %span.permonth> /mth
          %a.button.medium.green{:href => ""}
            %span Select
        %th.package_81.enabled.column_1{ :width => "135"}
          Goldilocks
          .price
            %strong
              %span.dollar-sign> $
              %span> 400
              %span.cents> 00
            %span.permonth> /mth
          %a.button.medium.green{:href => ""}
            %span Select
      %tr
        %td.pricingLeft
          \# of dayhomes you can manage
        %td.package_78.enabled{:rel => "78"}
          %strong 1
        %td.package_79.enabled{:rel => "79"}
          %strong 50
        %td.package_80.enabled{:rel => "80"}
          %strong 250
        %td.package_81.enabled{:rel => "81"}
          %strong Unlimited
      /    
        %tr
          %td.pricingLeft
            Waiting lists
          %td.package_78.enabled{:rel => "78", :style => "cursor: pointer;"}
            %span 0
            %span.row-tiny ($10 each additional)
          %td.package_79.enabled{:rel => "79"}
            %span 10
            %span.row-tiny ($10 each additional)
          %td.package_80.enabled{:rel => "80"}
            %span 100
            %span.row-tiny ($10 each additional)
          %td.package_81.enabled{:rel => "81"}
            %span Unlimited
      %tr
        %td.pricingLeft
          Additional staff who can access your account
        %td.package_78.enabled{:rel => "78"}
          %span 0
        %td.package_79.enabled{:rel => "79"}
          %span 1
          %span.row-tiny ($10 each additional)
        %td.package_80.enabled{:rel => "80"}
          %span 2
          %span.row-tiny ($10 each additional)
        %td.package_81.enabled{:rel => "81"}
          %span 3
          %span.row-tiny ($10 each additional)
      %tr
        %td.pricingLeft
          \# of Locales
        %td.package_78.enabled{:rel => "78", :style => "cursor: pointer;"}
          1
        %td.package_79.enabled{:rel => "79"}
          %span 1
        %td.package_80.enabled{:rel => "80"}
          %span 5
          %span.row-tiny ($10 each additional)
        %td.package_81.enabled{:rel => "81"}
          %span Unlimited
      %tr.last-row
        %td.pricingLeft
          \
        %td.package_78.enabled.column_3{:rel => "78", :style => "cursor: pointer;"}
          %a.button.medium.green.a_package78{:href => ""}
            %span Select
        %td.package_79.enabled.column_2{:rel => "79"}
          %a.button.medium.green.a_package79{:href => ""}
            %span Select
        %td.package_80.enabled.column_1{:rel => "80"}
          %a.button.medium.green.a_package80{:href => ""}
            %span Select
        %td.package_81.enabled.column_1{:rel => "81"}
          %a.button.medium.green.a_package81{:href => ""}
            %span Select

  = form_for @day_home_signup_request,:url => billing_register_path(),:method => :put, :html=>{:class=>"form-horizontal",:id=>"upgrade-form", :style=>""} do |f|
    = hidden_field_tag 'choose-package', "78"
    = hidden_field_tag 'plan', @day_home_signup_request.plan
    %br
    %h3#addon-header.section-header.section-header-first
      Choose Any Extras You May Need
    .span-22.append-bottom-1
      #addon_staff{:style => "display: none;"}
        .control-group
          %label.control-label{:for => "staff"}
            Extra Staff
          .controls
            %input#staff.addonInput.input-mini{:maxlength => "4", :name => "staff", :onkeypress => "return numbersonly2(this, event)", :type => "text", :value => ""}
              \
              %span.example $10/month each
      #addon_locales{:style => "display: none;"}
        .control-group
          %label.control-label{:for => "locales"}
            Extra Locales
          .controls
            %select#locales.formSelect.addonInput.input-large{:disabled => "", :name => "locales"}
              %option{:value => "0"}
              %option{:value => "1"} +1 locale ($10/month)
              %option{:value => "2"} +2 locale ($20/month)
              %option{:value => "3"} +3 locale ($30/month)
              %option{:value => "4"} +4 locale ($40/month)
              %option{:value => "5"} +5 locale ($50/month)
      %div
        %div{:style => "margin: 0 45px; font-weight: bold; padding-left: 45px;"}
          You can add
          = succeed "like" do
            %a#A1{:href => "buy.htm"}
              %span one-time use extras
          Featuring your dayhome or adding a waiting list later.
    .span-13.append-bottom-2
      #total_box.bg_orange.hide{:style => "display: block;"}
        %h4.sidebar_header_orange
          %span Upgrade Details
        %table.fs_11{:cellpadding => "2", :cellspacing => "0", :width => "100%"}
          %tbody
            %tr#total_box_base{:style => "", :valign => "top"}
              %td
                %strong
                  New plan -
                  %span#package_name Baby Bear
                %br
                  %div{:style => "padding-left: 15px;"}
                    (
                    %span#limit_day_homes> 1
                    \dayhome(s),
                    = succeed " staff," do
                      %span#limit_staff 0
                    = succeed " locale(s))" do
                      %span#limit_locales 1
              %td{:align => "right"}
                %span.amount 0.00
            %tr#total_box_staff{:style => "display: none;"}
              %td
                %span.num>
                Extra staff
              %td{:align => "right"}
                %span.amount
            %tr#total_box_locales{:style => "display: none;"}
              %td
                %span.num>
                Extra locales
              %td{:align => "right"}
                %span.amount
            %tr#total_box_auto_bill{:style => "display: none;"}
              %td
                %span.num>
                Extra auto-bills
              %td{:align => "right"}
                %span.amount
            %tr#total_box_storage{:style => "display: none;"}
              %td
                %span.num>
                MB Extra document space
              %td{:align => "right"}
                %span.amount
            %tr
              %td{:colspan => "2", :style => "height: 5px; overflow: hidden;"}
            %tr#total_box_total
              %td
                %strong.title> Monthly Rate
                \:
              %td{:align => "right"}
                %strong
                  $
                  %span.amount 0.00
    .clear
    %h3.section-header
      Tell us a little about yourself
    - flash.each do |type, value|
      -if type.to_s.starts_with?('page')
        .flash{ :class => "alert alert-" + type.to_s }
          = raw (value )  
    .control-group
      = f.label :day_home_name, 'Dayhome Name', :class=>"control-label"
      .controls
        = f.text_field :day_home_name
        <i class="icon-info-sign" data-title="What's in a name?" data-content="This is the name of your dayhome. Don't have one? Well, pick something that you'll want your parents to know you by...it's your first impression when attracting new families."></i>
    .control-group
      = f.label :day_home_slug, 'Dayhome Slug', :class=>"control-label"
      .controls
        .input-prepend
          %span.add-on
            http://dayhomeregistry.com/
          = f.text_field :day_home_slug, :class=>"span2"
        <i class="icon-info-sign" data-title="What's a slug?" data-content="The slug is the name for the end of our web address that makes it easy for you and your customers to find your page.  The web address that you see to the left will be your home on our website."></i>             
    .control-group
      = f.label :day_home_highlight, 'Front page highlight', :class=>"control-label"
      .controls
        = f.text_area :day_home_highlight, :rows => 8, :style=>"width:530px;"
        <i class="icon-info-sign" data-title="What's a highlight?" data-content="On our homepage, when we feature a dayhome, the name of the dayhome and the text you put below are displayed over one of your images.  This highlight has to be 200 characters or less so we can still see how wonderful you are in your picture."></i>
    .control-group
      .controls
        = label_tag "ack", :class => :checkbox, :style=>"margin-left:20px;" do       
          = check_box_tag "ack","yes",false,:class => "select"
          I have read and understood the 
          =link_to "Privacy Policy and Terms of Use","/pages/privacy"    
    .control-group
      =f.label :day_home_street1,'Street Address', :class=>"control-label"         
      .controls
        .append-bottom-1
          = f.text_field :day_home_street1, :class=>"input-xxlarge"          
          .example.first
            Street
        .append-bottom-1
          .span-7
            = f.text_field :day_home_city, :class=>"input-medium"            
            .example
              City
          .span-10
            = f.state_select :day_home_province, 'CA'                  
            .example
              Province
          .span-6
            = f.text_field :day_home_postal_code, :class=>"input-mini"
            .example
              Postal/Zip Code
    .control-group
      = f.label :contact_phone_number, 'Phone Number', :class=>"control-label"        
      .controls
        = f.text_field :contact_phone_number
    .clearb              
    .control-group.append-bottom-1
      = f.label :contact_email, 'Email Address', :class=>"control-label"        
      .controls
        = f.text_field :contact_email
    .clearb
    #credit-card-section{:style => "display:none;"}
      = f.hidden_field :stripe_card_token
      %h3.section-header
        Enter Your Credit Card Information
      .append-bottom-1  
        #stripe_error
          %noscript
            Javascript is not enabled and is required for this form.  First enable it in your web browser settings.                
      .append-bottom-1
        .span-25
          /
            .control-group
              %label.control-label{:for => "BILL_NAME"}
                Name on Card
              .controls
                %input#BILL_NAME.input-large{:name => "BILL_NAME", :type => "text", :value => ""}
          .control-group          
            =label_tag :card_number, "Card Number", :class=>"control-label"            
            .controls  
              .span-11
                =text_field_tag :card_number, nil, name:nil, :class=>"input-large",:onkeypress => "return numbersonly2(this, event)"
                .example
                  Number
              .span-4
                =text_field_tag :card_code, nil, name:nil, :class=>"input-mini"
                .example
                  CCV
                  <i class="icon-info-sign" data-title="What's a CCV?" data-content="The little code to verify the number...you know the one."></i>      
          .control-group
            =label_tag :card_expiry, "Expiry date", :class=>"control-label"  
            .controls
              .span-6.append-bottom-1
                =select_month nil, {add_month_numbers: true},{name:nil,id:"card_month"}
                .example
                  Month
              .span-6.append-bottom-1
                =select_year nil, {start_year:Date.today.year,end_year:Date.today.year+15}, {name:nil, id: "card_year"}
                .example.first
                  Year   
        .span-12
          %strong Need Help? Call us!
          %br
            .gray50.fs_11
              .append-bottom-half
                Call us Monday-Friday, 8am-4pm MST
                %br
                  at +1-780-975-1290
                %br
      .clear                            
      
      .clear
    /  
      %h3#choose-subscription.section-header
        Choose Your Subscription
      #green_box
        .control-group
          .controls
            %label{:for => "monthly", :style => "font-weight: normal;"}
              %input#monthly{:checked => "checked", :name => "pay_yearly", :type => "radio", :value => "0"}
                %strong Monthly Payments:
                $19.95
                + $1.00 GST (5%)
                \.
        .control-group
          .controls
            .red{:style => "padding-bottom: 5px;"}
              %strong Special:
              Save 10% by paying Yearly - no lock-in, cancel any time.
            %label{:for => "yearly", :style => "font-weight: normal;"}            
              %input#yearly{:name => "pay_yearly", :type => "radio", :value => "1"}
                %strong Yearly Payments:
                $215.46
                + $10.77 GST (5%)
                \. You'll save 10%
                or $23.94/year. Cancel any time and receive a refund for any unused months. Our best value.
        .clear
        .clear
    .submit-container
      %span.button.large.green.single
        %input#pay-now-button{:name => "paynow", :type => "submit", :value => "Pay Now"}
:javascript
  $('.icon-info-sign').popover() ;
  if($('.alert-page-error').length>0) {
    try {
      $.scrollTo($('.alert-page-error').position().top - ($(window).height() / 2),
        { speed: 'slow'}
      );
    } catch(err) {alert(err);}
  }
  
  Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));

  $('#day_home_signup_request_day_home_name').keyup(function(e) {
      var parsed_subdomain = $(this).attr('value').replace(/[^a-z0-9]/gi,'').toLowerCase();
      $('#day_home_signup_request_day_home_slug').empty().attr('value', parsed_subdomain);
  });

  var Dayhome = Dayhome || {};

  Dayhome.upgradePage = {
      existing: { 
              "name": "Baby Bear",
              "plan": "baby",
              "day_homes": "1",
              "staff": "0",
              "locales": "1",
              "price": "0.00",
              "block_staff_addon": "1",
              "block_locales_addon": "1", 
              "id": "78" },
      packages: {
          "78": {
              "name": "Baby Bear",
              "plan": "baby",
              "day_homes": "1",
              "staff": "0",
              "locales": "1",
              "price": "0.00",
              "block_staff_addon": "1",
              "block_locales_addon": "1"
          },
          "79": {
              "name": "Mama Bear",
              "plan": "mama",
              "day_homes": "50",
              "staff": "1",
              "locales": "1",
              "price": "50.00",
              "block_staff_addon": "0",
              "block_locales_addon": "1"
          },
          "80": {
              "name": "Papa Bear",
              "plan": "papa",
              "day_homes": "250",
              "staff": "2",
              "locales": "3",
              "price": "250.00",
              "block_staff_addon": "0",
              "block_locales_addon": "0"
          },
          "81": {
              "name": "Goldilocks",
              "plan": "goldilocks",
              "day_homes": null,
              "staff": "5",
              "locales": null,
              "price": "400.00",
              "block_staff_addon": "0",
              "block_locales_addon": "0"
          }
      },
      additional_cost: {
          staff: function (n) {
              return parseInt(n, 10) * 10 || 0;
          },
          locales: function (n) {
              //return { "1": 10, "2": 20, "3": 30, "4": 40, "5": 50, "1500": 60, "1750": 70, "2000": 80, "3000": 120, "4000": 160, "5000": 200}[n] || 0;
              return parseInt(n, 10) * 10 || 0;
          }
      },
      index: {
        "baby":78, "mama":79, "papa":80, "goldilocks":81
      }
  };
  var index = Dayhome.upgradePage.index[$('#plan').val()];
  Dayhome.upgradePage.existing = Dayhome.upgradePage.packages[index];
  Dayhome.upgradePage.existing.id = index;