:javascript
  $(function(){
    add_another_mangement();
  });
  
- @agency.users.build if @agency.users.blank? 
- @agency.day_homes.build if @agency.day_homes.blank? 
= simple_form_for(@agency) do |f| 
  - if (@agency.errors.keys.include?(:users))
    .alert.alert-error
      = f.full_error(:users)
  - if (@agency.errors.keys.count>1)
    = f.error_notification 

  

  .form-inputs
    = f.input :name 
    = f.input :phone_number
    = f.input :street1 
    = f.input :street2
    = f.input :city
    = f.input :province
    = f.input :postal_code
      
  
  
  .form-actions
    = f.button :submit 
