#notice
  = notice

%p
  %b
    Name:
  = @agency.name

%p
  %b
    Address:</b>
  = @agency.street1
  -if !@agency.street2.nil? 
    =@agency.street2
  = @agency.city + "," + @agency.province
  = @agency.postal_code
  

%p
  %b
    Phone:</b>
  = @agency.phone_number
    
= link_to 'Edit', edit_agency_path(@admin_agency) 
|
= link_to 'Back', agencies_path 
