/
  #featureReel
    %div
      %h1
        Got a dayhome?
      %div  
        Dayhome registry is about connecting dayhomes with parents so that kids always have good care.  Whether you've got a dayhome to advertise or you're looking to find one, dayhomeregistry.com is the place to be.
      %label.btn.btn2
        %input.btn.btn2{:type=>"button", :onclick=>"top.location.href='#{about_pages_path}'", :name=>"button", :value=>"Learn More"}
#content
  #rightBar  
    .rightb
      %h3.title.support
        Find a Dayhome
      %p.rightb_txt{:style=>""}
        Find a dayhome in and around your home, work or wherever.
        
      %div{:id=>"searchBox",:style=>"height:60px;"}
        = form_for @search, :url => searches_path, :method => 'get', :focus => 'submit', :html => {:id => :search} do |f| 
          = f.search_field :address, :id => 'searchQuery', :placeholder => "Address or Neighbourhood"
          = link_to "Search", "#",:id=>'searchSubmit',:class=>"blue"

      .mapdisplay
        .projectMap
          %a.city{:style=>"left:147px;top:265px;"}
            =@edmonton
            %span
              Edmonton
          %a.city{:style=>"left:135px;top:349px;"}
            =@calgary
            %span
              Calgary   
          %a.city{:style=>"left:190px;top:145px;"}
            =@fortMac
            %span
              Fort McMurray                 
      =link_to "Browse all locations",searches_path,:style=>""
      %div
        <!-- 300x250 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:250px"
             data-ad-client="ca-pub-6835867491393885"
             data-ad-slot="9053237259"></ins>

      .span4.newsletter
        %h3
          Parent Newsletter
        %p
          Get recipes, tips for kids and info on our newest dayhomes.
        = form_tag('http://dayhomeregistry.us7.list-manage.com/subscribe/post?u=cde938b38d19f459bce32538b&amp;id=31701e2e10',:method=>:post,:target=>:_blank) do
          = email_field_tag 'EMAIL','',:id=>'mail'
          = submit_tag "Subscribe", :id=>"subscribe",:class=>"btn slim"
  #leftBar
    .leftb
      .strt_t{:style=>""}
        Register your dayhome
      .strt_box{:style=>""}
        .strt_img{:style=>""}
        .strt_s{:style=>""}
          Get the exposure you need to help your business thrive in your own community.
        .btns_wrap{:style=>"text-align:center;"}
          %label.btn.btn3{:style=>""}
            %a{:href=>billing_signup_path()}
              %input#registerBtn.btn.btn3{:type=>"button", :value=>"Register your dayhome", :name=>"button", :style=>""}
          %a{:href=>"http://blog.dayhomeregistry.com/2013/10/how-to-register/"}
            How do I register?
        %div{:style=>"width:100%;padding-bottom:1em;"}
          .callout.top-right
            "Dayhomeregistry has been an invaluable asset for my business. Not a week goes by that I don't receive an enquiry about childcare via this site. In fact, I receive far more requests from here than anywhere else. If you have spaces to fill, I would recommend advertising here immediately!"
          %i{:style=>"padding-left:300px;margin-top: 1em;"}
            &#151; Danielle R., Calgary
      %h3.title{:style=>""}
        Featured Dayhomes
      .prjR{:style=>""}
        - @featured_day_homes.each do |featured_day_home|
          .box.box_project.prj{:style=>""}
            .bxgw{:style=>""}
              .bxgi{:style=>""}
                .boxwrp{:style=>""}
                  %a{:style=>"",:href => day_home_slug_path(featured_day_home.slug)}
                    %img{:src=>"#{featured_day_home.featured_photo.photo_url(:thumb)}", :width=>"213px", :height=>"161px;", :style=>""}
                  %h4{:style=>""}
                    %a{:href => day_home_slug_path(featured_day_home.slug),:style=>""}
                      = featured_day_home.name
                  .company.shrt{:style=>""}
                    .f{:style=>""}
                      %span.a{:style=>""}
                        Edmonton, Canada
                  %p{:style=>""}
                    = featured_day_home.highlight
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});