#content
  #rightBar  
    .rightb
      %h3.title.support
        Find a Dayhome
      %p.rightb_txt{:style=>""}
        Find a dayhome in and around your home, work or wherever.
       
      %div{:id=>"searchBox",:style=>"height:60px;"}
        = form_for @search, :url => searches_path, :method => 'get', :focus => 'submit', :html => {:id => :search} do |f| 
          = f.search_field :address, :id => 'searchQuery', :placeholder => "Address or Neighbourhood"
          = link_to "Search", "#",:id=>'searchSubmit',:class=>"blue"

      .mapdisplay
        .projectMap
          %a.city{:style=>"left:147px;top:265px;"}
            =@edmonton
            %span
              Edmonton
          %a.city{:style=>"left:135px;top:349px;"}
            =@calgary
            %span
              Calgary   
          %a.city{:style=>"left:190px;top:145px;"}
            =@fortMac
            %span
              Fort McMurray                 
      =link_to "Browse all locations",searches_path,:style=>""
      .span4.col-lg-4.col-md-4.col-sm-4.newsletter
        %h3
          Parent Newsletter
        %p
          Get recipes, tips for kids and info on our newest dayhomes.
        = form_tag('https://dayhomeregistry.us7.list-manage.com/subscribe/post?u=cde938b38d19f459bce32538b&amp;id=31701e2e10',:method=>:post,:target=>:_blank) do
          = email_field_tag 'EMAIL','',:id=>'mail'
          = submit_tag "Subscribe", :id=>"subscribe",:class=>"btn slim"
      .span4
        %a{:href=>"http://dayho.me/1x7jC28"}
          %img.thumbnail{:src=>"http://blog.dayhomeregistry.com/wp-content/uploads/2015/01/bg-1-24508.jpg", :style=>"max-width:100%" }
      .span4
        :plain
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- 234x60 -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:234px;height:60px"
               data-ad-client="ca-pub-6835867491393885"
               data-ad-slot="3925033656"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>

  #leftBar
    .leftb
      .strt_t{:style=>""}
        Register your dayhome
      .strt_box{:style=>""}
        .strt_img{:style=>""}
        .strt_s{:style=>""}
          Get the exposure you need to help your business thrive in your own community.
        .btns_wrap{:style=>"text-align:center;"}
          %label.btn.btn3{:style=>""}
            %a{:href=>billing_signup_path()}
              %input#registerBtn.btn.btn3{:type=>"button", :value=>"Register your dayhome", :name=>"button", :style=>""}
          %a{:href=>"http://blog.dayhomeregistry.com/2013/10/how-to-register/"}
            How do I register?
        %div{:style=>"width:100%;padding-bottom:1em;"}
          %ul#cyclelist
            %li
              .callout.top-right
                %span
                  "Dayhomeregistry has been an invaluable asset for my business. Not a week goes by that I don't receive an enquiry about childcare via this site. In fact, I receive far more requests from here than anywhere else. If you have spaces to fill, I would recommend advertising here immediately!"
              %i{:style=>"padding-left:300px;margin-top: 0.3em;position:absolute;"}
                &#151; Danielle R., Calgary
            %li{:style=>"display:none;"}
              .callout.top-right
                %span
                  "As a first-time mom, finding the right dayhome was an overwhelming task and I didn’t know where or how to start looking.  I was thrilled when I came across Dayhome Registry – their search engine was ideal for locating dayhomes in my neighborhood and allowing me to search specific criteria that was important to me.  Thanks Dayhome Registry for providing a much needed service and reducing my stress to find the perfect dayhome for my daughter!"
              %i{:style=>"padding-left:300px;margin-top: 0.3em;position:absolute;"}
                &#151; Anna G., Edmonton
            %li{:style=>"display:none;"}
              .callout.top-right
                %span
                  "We registered our agency with dayhomeregistry.com in March and in 6 months have generated an additional 80 leads. We love the map feature and often use it to help parents locate a dayhome in their specific neighbourhood."
              %i{:style=>"padding-left:300px;margin-top: 0.3em;position:absolute;"}
                &#151; Child Development Dayhomes, Edmonton      
      %h3.title{:style=>""}
        Featured Dayhomes
      .prjR{:style=>""}
        - @featured_day_homes.each do |featured_day_home|
          .box.box_project.prj{:style=>""}
            .bxgw{:style=>""}
              .bxgi{:style=>""}
                .boxwrp{:style=>""}
                  %a{:style=>"",:href => day_home_slug_path(featured_day_home.slug)}
                    %img{:src=>"#{featured_day_home.featured_photo.photo_url(:thumb)}", :width=>"213px", :height=>"161px;", :style=>""}
                  %h4{:style=>""}
                    %a{:href => day_home_slug_path(featured_day_home.slug),:style=>""}
                      = featured_day_home.name
                  .company.shrt{:style=>""}
                    .f{:style=>""}
                      %span.a{:style=>""}
                        =featured_day_home.location.name
                  %p{:style=>""}
                    = featured_day_home.highlight
:javascript
  $(document).ready(function() {

    var j = 0;
    var delay = 10000; //millisecond delay between cycles
    function cycleThru(){
      var jmax = $("ul#cyclelist li").length -1;
      $("ul#cyclelist li:eq(" + j + ")").hide("slow", function(){
        (j == jmax) ? j=0 : j++;
        $("ul#cyclelist li:eq(" + j + ")").show("slow", function(){
          setTimeout(function() {
            cycleThru();
          }, delay);
        });
      });
    };

    setTimeout(function() {
      cycleThru();
    }, delay);
    

  });