#featureReel
  %div{:style=>"width: 711px; margin-left: auto;  margin-right: auto;min-height: 185px;background: #76753f;background: -webkit-gradient(linear, left top, left bottom, from(rgba(120, 119, 65,0.8)), to(rgba(118, 117, 63,0.2)));background: -moz-linear-gradient(left, rgba(120, 119, 65,0.8), rgba(118, 117, 63,0.2));border-top-left-radius: 8px;-moz-border-top-left-radius: 8px;-webkit-border-top-left-radius: 8px;border-top-right-radius: 8px;-moz-border-top-right-radius: 8px;-webkit-border-top-right-radius: 8px;"}
    %h1{:style=>"color: #fff;font-size: 28px;margin: 0 0 0 20px;position: relative;padding-top: 20px;"}
      Got a dayhome?
    %div{:style=>"color: #fff;font-size: 15px;line-height: 20px;margin: 20px 20px 0 20px;position: relative;"}  
      Dayhome registry is about connecting dayhomes with parents so that kids always have good care.  Whether you've got a dayhome to advertise or you're looking to find one, dayhomeregistry.com is the place to be.
    %label.btn.btn2{:style=>"margin: 20px 0 0 20px;cursor: pointer;display: inline-block;border-bottom: 4px solid #747227;color: #FFF;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;vertical-align: middle;padding: 0;position: relative;background: #c9ce3c;border-color: #b0b534;"}
      %input.btn.btn2{:type=>"button", :onclick=>"top.location.href='#{about_pages_path}'", :name=>"button", :value=>"Learn More", :style=>"cursor: pointer;background: transparent;display: inline-block;font-weight: normal;padding: 6px 25px;border: none;font-size: 13px;margin: 0;color: #FFF;"}

%div{:style=>"width:940px;margin-left:auto;margin-right:auto;"}
  %div{:style=>"width:33%;float: right;"}  
    .rightb{:style=>"margin: 20px 0 0 30px;"}
      %h3.title.suppot{:style=>"position: relative;border-bottom: 1px solid #E5E5E5;padding: 10px 0;color: #757575;font-size: 28px;font-weight: normal;margin: 0 0 16px;"}
        Find a Dayhome
      %p.rightb_txt{:style=>"margin: 10px 0 0 0;position: relative;"}
        Find a business in and around your local community and give them a Boost!<br><br>
        
      %div
        = form_for @search, :url => searches_path, :method => 'get', :focus => 'submit', :html => {:id => :search} do |f| 
          = f.search_field :address, :id => 'searchQuery', :placeholder => "Address or Neighbourhood"
          = link_to "Search", "#",:id=>'searchSubmit',:class=>"yellow"

      .mapdisplay{:style=>"width:195px; padding: 20px;margin: 21px 0;background: rgb(252, 252, 229);border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;"}
        .projectMap{:style=>"width: 185px;height: 352px;background: url(http://x.albertaboostr.ca/LLPHRL/Skin/Skin012/Controls/Projects/ProjectsMap/abmap.png?2) no-repeat;position: relative;"}
          %a.city{:style=>"text-decoration: none;text-align: center;color: #FFF;font-weight: bold;display: block;width: 24px;padding: 5px 0 0;height: 33px;margin: -32px 0 0 -12px;background: url(http://x.albertaboostr.ca/LLPHRL/Skin/Skin012/Controls/Projects/ProjectsMap/ico.png) no-repeat 0 0;position: absolute;font-size: 11px;left: 121px;top: 213px;"}
            154
            %span{:style=>"position: absolute;top: 30px;width: 90px;left: -36px;color: #FFF;background: #8e8e31;display: none;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;padding: 3px 0;"}
              Edmonton
      =link_to "Browse all locations",searches_path,:style=>"color:#cd3c5d;text-decoration: none;padding-top:1em;"
  %div{:style=>"width:66%;"}
    .leftb
      .strt_t{:style=>"font-size: 28px;  position: relative;  padding-top: 20px;"}
        Register your dayhome
      .strt_box{:style=>"background: #f6edf0;border-radius: 8px;  -moz-border-radius: 8px;  -webkit-border-radius: 8px; margin: 20px 0 0 0;"}
        .strt_img{:style=>"float: left;  width: 60px;  height: 82px;  margin: 24px 0 0 20px;background:url(/assets/green-house-icon.png);"}
        .strt_s{:style=>"line-height: 28px;  margin: 0 20px 0 100px;  position: relative;  padding-top: 20px;"}
          Get the exposure you need to help your business thrive in your own community.
        .btns_wrap{:style=>"margin: 10px 0 0 100px;  padding-bottom: 20px;"}
          %label.btn.btn3{:style=>"cursor: pointer;  display: inline-block;  border-bottom: 4px solid #747227;  background: #8f8e32;  color: #FFF;  border-radius: 5px;  -moz-border-radius: 5px;  -webkit-border-radius: 5px;  vertical-align: middle;  margin: 0 2px;  padding: 0;  position: relative;    background: #c9ce3c;  border-color: #b0b534;"}
            %input.btn.btn3{:type=>"button", :value=>"Register your dayhdome", :name=>"button", :style=>"cursor: pointer;  background: transparent;  display: inline-block;  font-weight: normal;  padding: 6px 25px;  border: none;  font-size: 14px;  margin: 0; color: #575522;"}
          %label.btn.btn3{:style=>"    cursor: pointer;  display: inline-block;  border-bottom: 4px solid #747227;  background: #8f8e32;  color: #FFF;  border-radius: 5px;  -moz-border-radius: 5px;  -webkit-border-radius: 5px;  vertical-align: middle;  margin: 0 2px;  padding: 0;  position: relative;    background: #c9ce3c;  border-color: #b0b534;"}
            %input.btn.btn3{:type=>"button", :value=>"What do I need to do?", :name=>"button", :style=>"cursor: pointer;  background: transparent;  display: inline-block;  font-weight: normal;  padding: 6px 25px;  border: none;  font-size: 14px;  margin: 0; color: #575522;"}
      %h3.title{:style=>"position: relative;border-bottom: 1px solid #E5E5E5;padding: 10px 0;color: #757575;font-size: 18px;font-weight: normal;margin: 0 0 16px;"}
        Featured Dayhomes
      .prjR{:style=>"overflow: hidden;"}
        - @featured_day_homes.each do |featured_day_home|
          .box.box_project.prj{:style=>"width: 32.5%;float: left;margin: 10px 0 0;max-height: 475px;"}
            .bxgw{:style=>"background: #FFF;position: relative;border: 3px solid #eaeaea;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;"}
              .bxgi{:style=>""}
                .boxwrp{:style=>""}
                  %a{:style=>"position: relative;width: 100%;overflow: hidden;display: block;padding: 0 0 10px 0;border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;",:href => day_home_slug_path(featured_day_home.slug)}
                    %img{:src=>"#{featured_day_home.featured_photo.photo_url(:thumb)}", :width=>"213px", :height=>"161px;", :style=>"border: none;width: 100%;height: auto !important;padding: 0;border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;"}
                  %h4{:style=>"margin: 0;padding: 0 10px 4px;font-size: 14px;"}
                    %a{:href => day_home_slug_path(featured_day_home.slug),:style=>"color: #8e8e31;text-decoration: none;"}
                      = featured_day_home.name
                  .company.shrt{:style=>"position: relative;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color: #848689;border: none;margin: 0;padding: 3px 5px 3px 32px;bottom: 0;left: 0;"}
                    .f{:style=>"display: inline;"}
                      %span.a{:style=>""}
                        Edmonton, Canada
                  %p{:style=>"margin: 0;padding: 5px 10px;height: 75px;overflow: hidden;"}
                    = featured_day_home.highlight
/   
  #feature.drop-shadow
    .slides
      - @featured_day_homes.each do |featured_day_home|
        .slide
          %a{:href => day_home_slug_path(featured_day_home.slug)}
            %img{:src=>"#{featured_day_home.featured_photo.photo_url(:reg)}", :width=>"700px", :height=>"400px;"}
            .slide-desc
              .slide-desc-inset
                %h4
                  = featured_day_home.name
                - if featured_day_home.highlight.present?
                  %p
                    = featured_day_home.highlight
  #chooseYourAdventure
  #parent
    %h1
      Do you need a dayhome?
    %div
      %a{:href=>searches_path()}
        %img(src='http://dl.dropbox.com/u/76665191/map.jpg')
    %div  
      Use our
      =link_to 'advanced search',searches_path
      to find what you need
  #dayhome
    %h1
      Are you a dayhome provider?
    .signup
      %a{:href => billing_signup_path(), :class=>'signup-link'}
        %strong.signin-popup
          Sign up now
          %span.starburst-holder
            %span.starburst
              %span
                Free!
    %h2
      It takes less than a minute to create your 
      %span.red
        free
      account and start promoting your business!
    .facebook
      Have a facebook account? You can use that to 
      = link_to 'sign in ', login_path
      too!
