:javascript
  $(function(){
    $('#registerBtn').click(function(){
      $('#search').submit();
      return false;
    });
  });
/
  #featureReel
    %div
      %h1
        Got a dayhome?
      %div  
        Dayhome registry is about connecting dayhomes with parents so that kids always have good care.  Whether you've got a dayhome to advertise or you're looking to find one, dayhomeregistry.com is the place to be.
      %label.btn.btn2
        %input.btn.btn2{:type=>"button", :onclick=>"top.location.href='#{about_pages_path}'", :name=>"button", :value=>"Learn More"}
#content
  #rightBar  
    .rightb
      %h3.title.support
        Find a Dayhome
      %p.rightb_txt{:style=>""}
        Find a business in and around your local community and give them a Boost!<br><br>
        
      %div
        = form_for @search, :url => searches_path, :method => 'get', :focus => 'submit', :html => {:id => :search} do |f| 
          = f.search_field :address, :id => 'searchQuery', :placeholder => "Address or Neighbourhood"
          = link_to "Search", "#",:id=>'searchSubmit',:class=>"yellow"

      .mapdisplay
        .projectMap
          %a.city{:style=>"left:136px;top:350px;"}
            154
            %span
              Edmonton
      =link_to "Browse all locations",searches_path,:style=>"color:#cd3c5d;text-decoration: none;padding-top:1em;"
  #leftBar
    .leftb
      .strt_t{:style=>""}
        Register your dayhome
      .strt_box{:style=>""}
        .strt_img{:style=>""}
        .strt_s{:style=>""}
          Get the exposure you need to help your business thrive in your own community.
        .btns_wrap{:style=>""}
          %label.btn.btn3{:style=>""}
            %a{:href=>billing_signup_path()}
              %input#registerBtn.btn.btn3{:type=>"button", :value=>"Register your dayhdome", :name=>"button", :style=>""}
          %label.btn.btn3{:style=>""}
            %a{:href=>"http://blog.dayhomeregistry.com/how-to-register"}
              %input.btn.btn3{:type=>"button", :value=>"What do I need to do?", :name=>"button", :style=>""}
      %h3.title{:style=>""}
        Featured Dayhomes
      .prjR{:style=>""}
        - @featured_day_homes.each do |featured_day_home|
          .box.box_project.prj{:style=>""}
            .bxgw{:style=>""}
              .bxgi{:style=>""}
                .boxwrp{:style=>""}
                  %a{:style=>"",:href => day_home_slug_path(featured_day_home.slug)}
                    %img{:src=>"#{featured_day_home.featured_photo.photo_url(:thumb)}", :width=>"213px", :height=>"161px;", :style=>""}
                  %h4{:style=>""}
                    %a{:href => day_home_slug_path(featured_day_home.slug),:style=>"color: #8e8e31;text-decoration: none;"}
                      = featured_day_home.name
                  .company.shrt{:style=>""}
                    .f{:style=>""}
                      %span.a{:style=>""}
                        Edmonton, Canada
                  %p{:style=>""}
                    = featured_day_home.highlight
/   
  #feature.drop-shadow
    .slides
      - @featured_day_homes.each do |featured_day_home|
        .slide
          %a{:href => day_home_slug_path(featured_day_home.slug)}
            %img{:src=>"#{featured_day_home.featured_photo.photo_url(:reg)}", :width=>"700px", :height=>"400px;"}
            .slide-desc
              .slide-desc-inset
                %h4
                  = featured_day_home.name
                - if featured_day_home.highlight.present?
                  %p
                    = featured_day_home.highlight
  #chooseYourAdventure
  #parent
    %h1
      Do you need a dayhome?
    %div
      %a{:href=>searches_path()}
        %img(src='http://dl.dropbox.com/u/76665191/map.jpg')
    %div  
      Use our
      =link_to 'advanced search',searches_path
      to find what you need
  #dayhome
    %h1
      Are you a dayhome provider?
    .signup
      %a{:href => billing_signup_path(), :class=>'signup-link'}
        %strong.signin-popup
          Sign up now
          %span.starburst-holder
            %span.starburst
              %span
                Free!
    %h2
      It takes less than a minute to create your 
      %span.red
        free
      account and start promoting your business!
    .facebook
      Have a facebook account? You can use that to 
      = link_to 'sign in ', login_path
      too!
