.section
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12
        %h4.header-text 
          Partners
        %p 
          These are the awesome folks that we've partnered with to give you some great deals just for being a part of the Dayhome Registry community.
    .row
      .col-lg-6.col-md-6.col-sm-6
        .partner-img{style:"background-image:url('#{image_url("lmf.png")}');"}
        %div
          This is where the deal details go.
      .col-lg-6.col-md-6.col-sm-6
        .partner-img{style:"background-image:url('#{image_url("parenting_power.jpg")}');"}
        .partner-blurb
          A blurb about the business
        .partner-deal
          The deal details.
    .row
      .col-lg-6.col-md-6.col-sm-6
        .partner-img{style:"background-image:url('#{image_url("landingpage/born2create.jpg")}');"}
        %div
          A blurb about the business
        .partner-deal
          The deal details.
      .col-lg-6.col-md-6.col-sm-6
        .partner-img{style:"background-image:url('#{image_url("bellebliss_out.png")}');"}
        %div
          A blurb about the business
        .partner-deal
          The deal details.
    .row
      .col-lg-6.col-md-6.col-sm-6
        .partner-img{style:"background-image:url('#{image_url("wee piggies.gif")}');"}
        %div
          A blurb about the business
        .partner-deal
          The deal details.
      .col-lg-6.col-md-6.col-sm-6
        .partner-img{style:"background-image:url('#{image_url("Shanti.png")}');"}
        %div
          A blurb about the business
        .partner-deal
          The deal details.