-content_for :footer_scripts do
  = javascript_include_tag :upgrade, :upgrade_init
.container.primary-content
  %table.pricingTable.upgrade-page{:align => "center", :cellpadding => "0", :cellspacing => "0"}
    %tbody
      %tr{:valign => "top"}
        %th.pricingSelect
          Choose Your Plan
        %th.package_78.enabled.column_4.selected_package{ :width => "135"}
          Baby Bear
          .price
            %strong
              %span.dollar-sign Free
          %a.button.medium.green{:href => ""}
            %span Select
        %th.package_79.enabled.column_3{ :width => "135"}
          Mama Bear
          .price
            %strong
              %span.dollar-sign> $
              %span> 50
              %span.cents 00
            %span.permonth> /mth
          %a.button.medium.green{:href => ""}
            %span Select
        %th.package_80.enabled.column_2{ :width => "135"}
          Papa Bear
          .price
            %strong
              %span.dollar-sign> $
              %span> 100
              %span.cents> 00
            %span.permonth> /mth
          %a.button.medium.green{:href => ""}
            %span Select
        %th.package_81.enabled.column_1{ :width => "135"}
          Goldilocks
          .price
            %strong
              %span.dollar-sign> $
              %span> 200
              %span.cents> 00
            %span.permonth> /mth
          %a.button.medium.green{:href => ""}
            %span Select
      %tr
        %td.pricingLeft
          \# of dayhomes you can manage
        %td.package_78.enabled{:rel => "78"}
          %strong 1
        %td.package_79.enabled{:rel => "79"}
          %strong 50
        %td.package_80.enabled{:rel => "80"}
          %strong 250
        %td.package_81.enabled{:rel => "81"}
          %strong Unlimited
      /    
        %tr
          %td.pricingLeft
            Waiting lists
          %td.package_78.enabled{:rel => "78", :style => "cursor: pointer;"}
            %span 0
            %span.row-tiny ($10 each additional)
          %td.package_79.enabled{:rel => "79"}
            %span 10
            %span.row-tiny ($10 each additional)
          %td.package_80.enabled{:rel => "80"}
            %span 100
            %span.row-tiny ($10 each additional)
          %td.package_81.enabled{:rel => "81"}
            %span Unlimited
      %tr
        %td.pricingLeft
          Additional staff who can access your account
        %td.package_78.enabled{:rel => "78"}
          %span 0
        %td.package_79.enabled{:rel => "79"}
          %span 1
          %span.row-tiny ($10 each additional)
        %td.package_80.enabled{:rel => "80"}
          %span 2
          %span.row-tiny ($10 each additional)
        %td.package_81.enabled{:rel => "81"}
          %span 3
          %span.row-tiny ($10 each additional)
      %tr
        %td.pricingLeft
          \# of Locales
        %td.package_78.enabled{:rel => "78", :style => "cursor: pointer;"}
          1
        %td.package_79.enabled{:rel => "79"}
          %span 1
        %td.package_80.enabled{:rel => "80"}
          %span 5
          %span.row-tiny ($10 each additional)
        %td.package_81.enabled{:rel => "81"}
          %span Unlimted
      %tr.last-row
        %td.pricingLeft
          \ 
        %td.package_78.enabled.column_3{:rel => "78", :style => "cursor: pointer;"}
          %a.button.medium.green.a_package78{:href => ""}
            %span Select
        %td.package_79.enabled.column_2{:rel => "79"}
          %a.button.medium.green.a_package79{:href => ""}
            %span Select
        %td.package_80.enabled.column_1{:rel => "80"}
          %a.button.medium.green.a_package80{:href => ""}
            %span Select
        %td.package_81.enabled.column_1{:rel => "81"}
          %a.button.medium.green.a_package81{:href => ""}
            %span Select

  = form_for @day_home_signup_request, :html=>{:class=>"form-horizontal",:id=>"upgrade-form", :style=>"display:none;"} do |f|
    = hidden_field_tag 'choose-package'
    %br
    %h3#addon-header.section-header.section-header-first
      Choose Any Extras You May Need
    .span-22.append-bottom-1
      #addon_staff{:style => "display: block;"}
        .control-group
          %label.control-label{:for => "staff"}
            Extra Staff
          .controls
            %input#staff.addonInput.input-mini{:maxlength => "4", :name => "staff", :onkeypress => "return numbersonly2(this, event)", :type => "text", :value => ""}
              \ 
              %span.example $10/month each
      #addon_locales{:style => "display: none;"}
        .control-group
          %label.control-label{:for => "locales"}
            Extra Locales
          .controls
            %select#locales.formSelect.addonInput.input-large{:disabled => "", :name => "locales"}
              %option{:value => "0"}
              %option{:value => "1"} +1 locale ($10/month)
              %option{:value => "2"} +2 locale ($20/month)
              %option{:value => "3"} +3 locale ($30/month)
              %option{:value => "4"} +4 locale ($40/month)
              %option{:value => "5"} +5 locale ($50/month)
      %div
        %div{:style => "margin: 0 45px; font-weight: bold; padding-left: 45px;"}
          Add
          = succeed "like" do
            %a#A1{:href => "buy.htm"}
              %span one-time use extras
          Featuring your dayhome or adding a waiting list.
    .span-13.append-bottom-2
      #total_box.bg_orange.hide{:style => "display: block;"}
        %h4.sidebar_header_orange
          %span Upgrade Details
        %table.fs_11{:cellpadding => "2", :cellspacing => "0", :width => "100%"}
          %tbody
            %tr#total_box_base{:style => "display:none;", :valign => "top"}
              %td
                %strong
                  New plan -
                  %span#package_name Mama Bear
                %br
                  %div{:style => "padding-left: 15px;"}
                    (
                    %span#limit_day_homes> 250
                    \ dayhome(s),
                    = succeed " staff," do
                      %span#limit_staff 1
                    = succeed " locale(s))" do
                      %span#limit_locales 1
              %td{:align => "right"}
                %span.amount 50.00
            %tr#total_box_staff{:style => "display: none;"}
              %td
                %span.num>
                Extra staff
              %td{:align => "right"}
                %span.amount
            %tr#total_box_locales{:style => "display: none;"}
              %td
                %span.num>
                Extra locales
              %td{:align => "right"}
                %span.amount
            %tr#total_box_auto_bill{:style => "display: none;"}
              %td
                %span.num>
                Extra auto-bills
              %td{:align => "right"}
                %span.amount
            %tr#total_box_storage{:style => "display: none;"}
              %td
                %span.num>
                MB Extra document space
              %td{:align => "right"}
                %span.amount
            %tr
              %td{:colspan => "2", :style => "height: 5px; overflow: hidden;"}
            %tr#total_box_total
              %td
                %strong.title> Monthly Rate
                \:
              %td{:align => "right"}
                %strong
                  $
                  %span.amount 50.00
    .clear
    %h3.section-header
      Tell us a little about yourself
    .control-group
      %label.control-label{:for => "EMAIL"}
        Dayhome name
      .controls
        %input.input-large{:name => "day_home_name", :type => "text"}
    .clearb
    .control-group
      %label.control-label{:for => "BILL_ADDRESS_ONE"}
        Street Address
      .controls
        .append-bottom-1
          %input#BILL_ADDRESS_ONE.input-xxlarge{:name => "BILL_ADDRESS_ONE", :type => "text", :value => "7933 85 AVE NW"}
          .example.first
            Street
        .append-bottom-1
          .span-7
            %input#BILL_CITY.input-medium{:name => "BILL_CITY", :type => "text", :value => "Edmonton"}
            .example
              City
          .span-10
            %select#canada.formSelectReq.input-span-9{:name => "state_or_province", :style => "", :tabindex => ""}
              %option{:value => ""} [Choose One]
              %option{:selected => "selected", :value => "Alberta"} Alberta
              %option{:value => "British Columbia"} British Columbia
              %option{:value => "Manitoba"} Manitoba
              %option{:value => "New Brunswick"} New Brunswick
              %option{:value => "Newfoundland And Labrador"} Newfoundland And Labrador
              %option{:value => "Northwest Territories"} Northwest Territories
              %option{:value => "Nova Scotia"} Nova Scotia
              %option{:value => "Nunavut"} Nunavut
              %option{:value => "Ontario"} Ontario
              %option{:value => "Prince Edward Island"} Prince Edward Island
              %option{:value => "Quebec"} Quebec
              %option{:value => "Saskatchewan"} Saskatchewan
              %option{:value => "Yukon"} Yukon                
            .example
              Province
          .span-6
            %input#BILL_ZIP_OR_POSTAL_CODE.input-mini{:name => "BILL_ZIP_OR_POSTAL_CODE", :type => "text", :value => "T6C1G3"}
            .example
              Postal/Zip Code
    .control-group.append-bottom-1
      %label.control-label{:for => "EMAIL"}
        Email Address
      .controls
        %input#EMAIL.input-large{:name => "EMAIL", :type => "text", :value => "billing@dayhomeregistry.com"}
    .clearb
    /
      %h3#choose-subscription.section-header
        Choose Your Subscription
      #green_box
        .control-group
          .controls
            %input#monthly{:checked => "checked", :name => "pay_yearly", :type => "radio", :value => "0"}
              %label{:for => "monthly", :style => "font-weight: normal;"}
                %strong Monthly Payments:
                $19.95
                + $1.00 GST (5%)
                \.
        .control-group
          .controls
            .red{:style => "padding-bottom: 5px;"}
              %strong Special:
              Save 10% by paying Yearly – no lock-in, cancel any time.
            %input#yearly{:name => "pay_yearly", :type => "radio", :value => "1"}
              %label{:for => "yearly", :style => "font-weight: normal;"}
                %strong Yearly Payments:
                $215.46
                + $10.77 GST (5%)
                \. You’ll save 10%
                or $23.94/year. Cancel any time and receive a refund for any unused months. Our best value.
        .clearb
        .clearb
      .submit-container
        %span.button.large.green.single
          %input#pay-now-button{:name => "paynow", :type => "submit", :value => "Pay Now"}
:javascript
  var Dayhome = Dayhome || {};

  Dayhome.upgradePage = {
      existing: {},
      packages: {
          "78": {
              "name": "Baby Bear",
              "day_homes": "1",
              "staff": "0",
              "locales": "1",
              "price": "0.00",
              "tagline": null,
              "block_staff_addon": "1",
              "block_locales_addon": "1"
          },
          "79": {
              "name": "Mama Bear",
              "day_homes": "50",
              "staff": "1",
              "locales": "1",
              "price": "50.00",
              "block_staff_addon": "0",
              "block_locales_addon": "1"
          },
          "80": {
              "name": "Papa Bear",
              "day_homes": "250",
              "staff": "2",
              "locales": "3",
              "price": "100.00",
              "block_staff_addon": "0",
              "block_locales_addon": "0"
          },
          "81": {
              "name": "Goldilocks",
              "day_homes": null,
              "staff": "5",
              "locales": null,
              "price": "250.00",
              "block_staff_addon": "0",
              "block_locales_addon": "0"
          }
      },
      payment_frequency: 1,
      payment_amount: 19.950,
      additional_cost: {
          staff: function (n) {
              return parseInt(n, 10) * 10 || 0;
          },
          locales: function (n) {
              //return { "1": 10, "2": 20, "3": 30, "4": 40, "5": 50, "1500": 60, "1750": 70, "2000": 80, "3000": 120, "4000": 160, "5000": 200}[n] || 0;
              return parseInt(n, 10) * 10 || 0;
          }
      },
      existingDeprecated: false
  };