= render '/layouts/admin_subnav'

%p
  = link_to 'New Agency', [:new, :admin, :agency], :class => :btn
  
%table.table-striped.table{:cellpadding => '5'}
  %thead
    %tr
      %th          
        = check_box_tag(:select_all)
      %th
        Name
      %th
        Email
      %th
        Actions
  %tbody
    - @agencies.each do |agency|
      %tr
        %td
          = check_box_tag "select["+agency.name+"]",agency.name,false,:class => "select"
        %td
          = link_to agency.name, admin_agency_path(agency)
        %td
          = agency.email
        %td
          = link_to 'Edit', edit_admin_agency_path(agency)
          |
          = link_to 'Destroy', admin_agency_path(agency), :method => :delete, confirm: 'Are you sure?', method: :delete 
