:javascript
  var convert_stripe_date = function(jsonDate) {
    var d = new Date(0); // The 0 there is the key, which sets the date to the epoch
    //return d.toDateString();
    d.setUTCSeconds(jsonDate);
    return d.toDateString();
  };
  function formatCurrency(num) {
    num = isNaN(num) || num === '' || num === null ? 0.00 : num;
    return parseFloat(num).toFixed(2);
  }
  $(document).ready(function() {
    $('#show_payments_link').on('click',function(event){
      $('#payments').find('tr').filter(':hidden').show();
      $(this).hide();
      event.preventDefault();
      return false;
    });
    $("#select_all").click(function(){
        $(".select").prop("checked", true);
    });
    
    $("#approveBtn").click(function(event){
      $("#day_home_mass_function").val("approve");
      $("#mass_form").submit();
      
      event.preventDefault(); // Prevent link from following its href
    });
  });
.form-horizontal
  .form-header
    %h2 Billing Information
    Here you'll find your current package, account limits, and payment history.
  .control-group
    .control-label.fs_22
      Current Fee
    .controls.fs_22
      .float_left
        %strong
          =number_to_currency(@plan.price)
          per month
  .control-group
    .control-label
      Dayhomes
    .controls
      .progress-bar.pg-neutral
        - percentFill = number_to_percentage([(@organization.day_homes.count*100.0/@plan.day_homes),100.0].min)
        -if @plan.day_homes <=0
          - percentFill = number_to_percentage([(@organization.day_homes.count % 50),100.0].min)
        .fill{:style => "width: #{percentFill};"}
      =@organization.day_homes.count 
      of
      =@plan.day_homes>0 ? @plan.day_homes.to_s : "Unlimited"
  .control-group
    .control-label
      Extra Staff
    .controls
      .progress-bar.pg-neutral.no-fill
        - percentFill = number_to_percentage(100)
        - if (@plan.staff>0) 
          - percentFill = number_to_percentage([((@organization.users.count-1)*100.0/@plan.staff),100.0].min)          
        .fill{:style => "width: #{percentFill}"}
      =@organization.users.count-1
      of 
      =@plan.staff
  .control-group
    .control-label
      Locales
    .controls
      .progress-bar.pg-neutral
        - percentFill = number_to_percentage([(@organization.locations.count*100.0/@plan.locales),100.0].min)
        .fill{:style => "width: #{percentFill}"}
      =@organization.locations.count 
      of 
      =@plan.locales
  .control-group
    .control-label
      Feature credits
    .controls
      .span-11.append-bottom-1
        =@organization.feature_count
      
  .control-group.section-start
    .control-label.fs_22
      Organization
    .controls.fs_22
      .float_left
        Some info about your organization    
  .control-group
    .control-label
      Name
    .controls
      =@organization.name
  .control-group
    .control-label
      Street Address
    .controls
      .append-bottom-1.first
        = @organization.street1
        .example.first
          Street
      .append-bottom-1
        .span-7
          = @organization.city
          .example
            City
        .span-10
          = @organization.province
          .example
            Province
        .span-6
          = @organization.postal_code
          .example
            Postal Code
  .control-group
    .control-label
      Phone
    .controls
      .append-bottom-1.first
        = @organization.phone_number.nil? ? "None":@organization.phone_number
  .control-group
    .control-label
      Credit Card
    -if !@organization.credit_card.nil?  
      .controls
        .append-bottom-1.first            
          =label_tag :existing_card_number, "**** **** **** "+@organization.credit_card[:last4], :style=>"width:150px;"
          .span-7
            =label_tag :existing_card_exp, "Exp:"+@organization.credit_card[:month].to_s+"/"+@organization.credit_card[:year].to_s, :style=>"display:inline;padding-right:5px;"
          .clear
    -else
      .controls
        .append-bottom-1.first   
          .span-7
            .error.alert-error
              Please update your credit card information!
  .control-group
    .controls
      .example.first
        = link_to 'Edit', edit_admin_organization_path(@organization) 
  .control-group.section-start
    .control-label
      Upgrades
    .controls
      %table#upgrades
        %tbody
          %tr
            -if @organization.upgrades.count>0
              -upgrade = @organization.upgrades.order("effective_date desc").first
              -plan = Plan.find(upgrade.new_plan_id)
              %td.span-14
                =upgrade.effective_date.strftime("%a %b %d, %Y")
                ="[#{(plan.day_homes==-1 ? 'Unlimited' : plan.day_homes.to_s)}, #{(plan.staff==-1 ? 'Unlimited' : plan.staff.to_s)}, #{(plan.locales==-1 ? 'Unlimited' : plan.locales.to_s)}]"
              %td.span-11
                ="$#{plan.price}"
                per month
            -else
              None
  .control-group
    .control-label
      Payments      
    .controls
      /=@organization.payments.to_json
      %table#payments
        %tbody
          -@organization.payments.each_with_index do |p, index|
            %tr{:style=> (index > 4?'display:none;':'')}
              %td.span-14
                :javascript
                  document.write(convert_stripe_date(#{p.date}));
              %td.span-11
                :javascript
                  document.write('$'+formatCurrency(#{p.total/100.0}))
  -if @organization.payments.count > 0
    .control-group.append-bottom-1
      .controls
        .example.first       
          = link_to 'Show last 100 payments', '#', :id=>'show_payments_link'             
  .control-group.section-start
    .control-label.fs_22
      Locales
    .controls.fs_22
      .float_left
        The places you do business    
  .control-group
    .control-label
      Name
    .controls
      -@organization.locations.each_with_index do |locale, index|
        .append-bottom-1
          %div{:class=>"#{index>0?'span-7' : ''}"}
            =locale.name
            -if (@organization.locations.count > 1)
              =link_to "Remove", organization_location_path(@organization,locale), confirm: 'Are you sure?',:method=>:delete
            =link_to "Edit", edit_organization_location_path(@organization,locale)  
  .control-group
    .controls
      .example.first
        = link_to 'Add Locales', new_organization_location_path(@organization) 

  .control-group.section-start
    .control-label.fs_22
      Dayhomes
    .controls.fs_22
      .float_left
        Your businesses
  = link_to 'Approve','#',:id => 'approveBtn',:class => :btn        
  = form_tag({:controller => "organizations", :action => "mass_update"}, :method => "post", :id => "mass_form")
  =hidden_field(:day_home, :mass_function)          
  =hidden_field_tag 'id',@organization.id
  %table.table-striped.table{:cellpadding => '5'}
    %thead
      %tr
        %th          
          = check_box_tag(:select_all)
        %th
          = sortable "name","Name"
        %th
          Address
        %th
          Photos
        %th
          = sortable "featured","Featured?"
        %th
          = sortable "approved","Approved?"
        %th
          Actions
    %tbody
      - @day_homes.each do |day_home|
        %tr
          %td
            = check_box_tag "select["+day_home.slug+"]",day_home.slug,false,:class => "select"
          %td
            = link_to day_home.name, day_home_slug_path(day_home.slug)
          %td
            = day_home.address
          %td
            - if day_home.photos.blank?
              None
            - else
              = day_home.photos.count
          %td
            = yes_no(day_home.featured)
          %td
            = yes_no(day_home.approved)			
          %td
            = link_to 'Edit', [:edit, :admin, day_home]
            |
            = link_to 'Delete', [:admin, day_home], :method => :delete, :confirm => "Are you sure?"    
  = paginate @day_homes, :window => 1,:left => 3,:right => 3  
