:javascript
  var convert_stripe_date = function(jsonDate) {
    var d = new Date(0); // The 0 there is the key, which sets the date to the epoch
    //return d.toDateString();
    d.setUTCSeconds(jsonDate);
    return d.toDateString();
  };
  function formatCurrency(num) {
    num = isNaN(num) || num === '' || num === null ? 0.00 : num;
    return parseFloat(num).toFixed(2);
  }
#notice
  = notice

.form-horizontal
  .form-header
    %h2 Billing Information
    Here you'll find your current package, account limits, and payment history.
  .control-group
    .control-label.fs_22
      Current Fee
    .controls.fs_22
      .float_left
        %strong
          =number_to_currency(@plan.price)
          per month
      .float_left.prepend-1
        %a.button.medium.green{:href => "fresh.htm"}
          %span Upgrade Account
  .control-group
    .control-label
      Dayhomes
    .controls
      .progress-bar.pg-neutral
        
        - percentFill = number_to_percentage([(@organization.day_homes.count*100.0/@plan.day_homes),100.0].min)
        .fill{:style => "width: #{percentFill};"}
      =@organization.day_homes.count 
      of
      =@plan.day_homes
  .control-group
    .control-label
      Extra Staff
    .controls
      .progress-bar.pg-neutral.no-fill
        - percentFill = number_to_percentage(100)
        - if (@plan.staff>0) 
          - percentFill = number_to_percentage([(@organization.users.count/@plan.staff*100),100.0].min)          
        .fill{:style => "width: #{percentFill}"}
      =@organization.users.count
      of 
      =@plan.staff
  .control-group
    .control-label
      Locales
    .controls
      .progress-bar.pg-neutral
        - percentFill = number_to_percentage([(@organization.locations.count*100.0/@plan.locales),100.0].min)
        .fill{:style => "width: #{percentFill}"}
      =@organization.locations.count 
      of 
      =@plan.locales
  .control-group
    .control-label
      Feature credits
    .controls
      .span-11.append-bottom-1
        2
      .span-14.append-bottom-1
        %a{:href => "stamps.htm"} Buy credits
  .control-group.section-start
    .control-label.fs_22
      Organization
    .controls.fs_22
      .float_left
        Some info about your organization    
  .control-group
    .control-label
      Name
    .controls
      =@organization.name
  .control-group
    .control-label
      Street Address
    .controls
      .append-bottom-1.first
        = @organization.street1
        .example.first
          Street
      .append-bottom-1
        .span-7
          = @organization.city
          .example
            City
        .span-10
          = @organization.province
          .example
            Province
        .span-6
          = @organization.postal_code
          .example
            Postal Code
  .control-group
    .control-label
      Phone
    .controls
      .append-bottom-1.first
        = @organization.phone_number.nil? ? "None":@organization.phone_number
  .control-group
    .controls
      .example.first
        = link_to 'Edit', edit_organization_path(@organization) 
  .control-group.section-start
    .control-label
      Upgrades
    .controls
      %table#upgrades
        %tbody
          %tr
            %td.span-11
              Jun 01, 2012
              [250
              ,
              1
              ,
              1]
            %td.span-14
              $50.00
              per month
  .control-group
    .control-label
      Payments      
    .controls
      /=@payments.to_json
      %table#payments
        %tbody
          -@payments.each_with_index do |p, index|
            %tr{:style=> (index > 4?'display:none;':'')}
              %td.span-11
                :javascript
                  document.write(convert_stripe_date(#{p.date}));
              %td.span-14
                :javascript
                  document.write('$'+formatCurrency(#{p.total/100.0}))
          
  .control-group.append-bottom-1
    .controls
      .example.first            
        %a{:href => "#"} 
          Show last 100 payments
  .control-group.section-start
    .controls
      .append-bottom-1
        Go here to
        %a{:href => "https://dayhomeregistry.freshbooks.com/"} downgrade to free
        or
        %a{:href => "https://dayhomeregistry.freshbooks.com/"} cancel
        your account.
      
