#notice
  = notice

%p
  %b
    Name:
  = @organization.name

%p
  %b
    Address:</b>
  = @organization.street1
  -if !@organization.street2.nil? 
    =@organization.street2
  = @organization.city + "," + @organization.province
  = @organization.postal_code
  

%p
  %b
    Phone:</b>
  = @organization.phone_number
    
= link_to 'Edit', edit_organization_path(@organization) 
|
= link_to 'Back', 'somewhere' 
