= form_for(@advanced_search, :url => searches_path, :method => 'get', :html => {:class => 'well'}) do |f|
  %h3 Dayhome Search
  .control-group
    .controls
      = f.label :address, 'Near'
      = f.text_field :address
      = f.label 'Availability'
      - Availability.all.each do |avail|
        %div
          = check_box_tag "search[availability_ids][]", avail.id, false
          = category.name


      %br
      = submit_tag "Search", :class => 'btn'