= form_for(@advanced_search, :url => searches_path, :method => 'get', :html => {:class => 'well'}) do |f|
  %h3 Dayhome Search
  .control-group
    .controls
      = f.label 'Near'
      = f.text_field :address
      = f.label 'Enrollment'
      = f.select :enrollment_open, options_for_select({ "Open" => "true", "Closed" => "false"}, @advanced_search.enrollment_open )
      %br
      = submit_tag "Search", :class => 'btn'