/ %div{:style=>"position:absolute;top:0;left:0;width:100%;height:100%;"}
/   =gmaps( |
/     :map_options => { |
/       :center_latitude => @search.center_latitude, |
/       :center_longitude => @search.center_longitude, |
/       :zoom => @search.zoom, |
/       :auto_adjust =>  @search.auto_adjust, |
/       :auto_zoom => false, |
/       :provider_key => gmaps_api_key, |
/       :list_container => "markers_list" }, |
/       :markers => { |
/         :data => gmap_prepare_dayhomes(@day_homes), |
/         :options => { |
/           :do_clustering => true, |
/           :clusterer_maxZoom => 6}})
.row
  .span8.col-lg-8.col-md-8.col-sm-8
    =render 'form'
.row
  .span8.col-lg-8.col-md-8.col-sm-8    
    =gmaps( |
      :map_options => { |
        :center_latitude => @search.center_latitude, |
        :center_longitude => @search.center_longitude, |
        :zoom => @search.zoom, |
        :auto_adjust =>  @search.auto_adjust, |
        :auto_zoom => false, |
        :provider_key => gmaps_api_key, |
        :list_container => "markers_list" }, |
        :markers => { |
          :data => gmap_prepare_dayhomes(@day_homes), |
          :options => { |
            :do_clustering => true, |
            :clusterer_maxZoom => 6}})
    .legend
      = image_tag("dayhome-vonn.png", :alt => "Premium Private", :title => "Premium Private")
      Premium Private
      = image_tag("dayhome-private.png", :alt => "Private", :title => "Private")
      Private
      = image_tag("dayhome.png", :alt => "Private", :title => "Private")
      Accredited
    - if !@featured.empty?
      %h3
        Featured
      =render :partial => 'day_home', :collection => @featured 
    %h3
      Results
    <ul id="markers_list">  </ul>
    /
      - if !@day_homes.empty?
        =render :partial => 'day_home', :collection => @day_homes 
- content_for :scripts do
  :javascript
    var isMapDragging = false;
    var idleSkipped = false;
    var currentInfo = null;
    $(document).ready(function(){
      $(document).on('click',"#showSearchLink",function(){
        $('#showSearch').toggle();
        $('#hideSearch').toggle();
      });
      $(document).on('click',"#hideSearchLink",function(){
        $('#showSearch').toggle();
        $('#hideSearch').toggle();
      });
      //Add the center of the search?
      $(document).on('click',".markerCallout",function(){          
          var slug = $(this).attr('id');
          for(i=0;i<Gmaps.map.markers.length;i++){          
            var railsmarker = Gmaps.map.markers[i];
            //var marker = new google.maps.Marker({
            //  position: new google.maps.LatLng(railsmarker.lat,railsmarker.lng),
            // map: Gmaps.map.map              
            //});
            if (railsmarker.sidebar.toString().indexOf("/"+slug)>0) {              
              if(currentInfo != null){
                currentInfo.serviceObject.setIcon("/assets/dayhome.png");
                currentInfo['infowindow'].close();
              }
              currentInfo = railsmarker;
              try {
                railsmarker['infowindow'].open(Gmaps.map.map,railsmarker.serviceObject);
                if(railsmarker.picture.indexOf("-featured")>0){
                  railsmarker.serviceObject.setIcon("/assets/dayhome-red-featured.png");
                }else {
                  railsmarker.serviceObject.setIcon("/assets/dayhome-red.png");
                }
              } catch (err) {
                 //wish I knew how to tell someone
              }
            }
          };
          $.scrollTo($('.map_container').position().top - ($(window).height() / 2),
            { speed: 'slow'}
          );
          return false;
      });
    });
    function _respondToMapChange(){
        $("#markers_list").children().remove();
        var j=0;
        var lasti=-1;
        var lastj=-1;
        for(i=0;i<Gmaps.map.markers.length;i++){
            if(Gmaps.map.map.getBounds().contains(new google.maps.LatLng(Gmaps.map.markers[i].lat,Gmaps.map.markers[i].lng))){
              $("#markers_list").append(Gmaps.map.markers[i].sidebar);
              j++;
            }
            if(lasti!=i && lastj!=j && j>0 && j%5==0){
             $("#markers_list").append("<div class='dayhome_listing'><ins class='adsbygoogle' style='display:inline-block;width:468px;height:60px' data-ad-client='ca-pub-6835867491393885' data-ad-slot='6878500053'></ins></div"); 
             lasti=i;
             lastj=j;
            }
        }
    }
    Gmaps.map.callback = function() {
      Gmaps.map.markers.push(Gmaps.map.createMarker({
        Lat: #{@search.center_latitude},
        Lng: #{@search.center_longitude},
        marker_picture: "",
        rich_marker: null
      }));
      google.maps.event.addListener(Gmaps.map.map,'idle', function(){ 
        if (isMapDragging) {
          idleSkipped=true;
          return;
        }
        idleSkipped = false;
        _respondToMapChange();
      });
      google.maps.event.addListener(Gmaps.map.map,'dragstart', function(){ 
        this.isMapDragging = true;
      });
      google.maps.event.addListener(Gmaps.map.map,'dragend', function(){ 
        isMapDragging = false;
        if (idleSkipped==true) {
          _respondToMapChange();
          idleSkipped = false;
        }
      });
      google.maps.event.addListener(Gmaps.map.map,'bounds_changed', function(){ 
        idleSkipped = false;
      });
    }    
    
   