:javascript
  $(function(){
    add_another_mangement();
    $(".photo_preview").colorbox({rel:'photo_preview'});
  });




%h2
  Edit
  = @day_home.name

= form_for @day_home, :html => {:multipart => true} do |f|
  %h3
    Description  
    
  = f.label :highlight
  = f.text_area :highlight, :rows=>10, :style=>"width:90%"
  
  = f.label :blurb
  = f.text_area :blurb, :rows=>10, :style=>"width:90%"
  
  %h3
    Locale
  = collection_select(:day_home, :location_id, Location.where("organization_id = "+ @day_home.organization.id.to_s), :id, :name)
  
  %h3
    Photos
    
  = f.fields_for :photos do |p|
    .add_multiples.clear{'data-group' => 'photos'}      
      - if p.object.photo?
        .remove_contents
          = link_to image_tag(p.object.photo_url(:thumb), :style => 'max-height: 100px; margin: 0 5px 5px 0;', :class => :left), p.object.photo_url, :alt => p.object.caption, :class => 'photo_preview'
        
      = p.check_box :_destroy, :style => 'display: none;' unless p.object.new_record?
      = p.text_field :caption
      %br
      = p.file_field :photo
      = link_to 'Remove Photo', '#', :class => 'remove_fieldset_link'
  .clear
  %strong= link_to 'Add Another Photo', '#', :class => 'add_multiples_link', 'data-group' => 'photos', 'data-attribute-key' => 'photos_attributes'
  %br
  %br
  
  %h3
    Availability
    
  = f.label :availability_types, 'Full-time Availability', :style => 'font-weight: bold'
  
  - AvailabilityType.full_time.each do |availability|
    = f.label availability.kind, :class => :checkbox do 
      = check_box_tag 'day_home[assign_availability_type_ids][]', availability.id, @day_home.availability_type_ids.include?(availability.id)
      = availability.kind
  
  = f.label :availability_types, 'Part-time Availability', :style => 'font-weight: bold'
  - AvailabilityType.part_time.each do |availability|
    = f.label availability.kind, :class => :checkbox do 
      = check_box_tag 'day_home[assign_availability_type_ids][]', availability.id, @day_home.availability_type_ids.include?(availability.id)
      = availability.kind
      
  %h3
    Certifications
    
  = f.label :certification_types, 'Certification', :style => 'font-weight: bold'
  - CertificationType.all.each do |certification|
    = f.label certification.kind, :class => :checkbox do 
      = check_box_tag 'day_home[assign_certification_type_ids][]', certification.id, @day_home.certification_type_ids.include?(certification.id)
      = certification.kind
  
  
  = f.label :dietary_accommodations, 'Dietary Accommodations', :style => 'font-weight: bold'
  = f.label :dietary_accommodations, 'Dietary Accommodations', :class => :checkbox do
    = f.check_box :dietary_accommodations
    Accommodates for Food Allergies
  
  = f.label :licensed, 'Licensed', :style => 'font-weight: bold'
  = f.label :licensed, 'Licensed', :class => :checkbox do
    = f.check_box :licensed
    Licensed

  %br
  = f.submit 'Save', :class => 'btn'
  |
  = link_to 'Cancel', :day_homes
  
  