:javascript
  $(function(){
    add_another_mangement();
    $(".photo_preview").colorbox({rel:'photo_preview'});
    
    $( "#feature-me" )
      .click(function() {
        $( "#dialog-form" ).dialog( "open" );
      });
  });




%h2
  Edit
  = @day_home.name

= form_for @day_home, :html => {:multipart => true} do |f|
  .floatr
    -if @day_home.featured?
      %strong
        .featured-button.featured
          .ui-button-text
            Featured
            %span.fs_11
              until #{@day_home.feature_end_date}
    -else
      %strong
        = link_to '#', :id=>"feature-me", :class=>"featured-button feature-me" do
          .ui-button-text
            Feature me!
  %h3
    Description  
  = f.label :highlight
  = f.text_area :highlight, :rows=>10, :style=>"width:90%"
  
  = f.label :blurb
  = f.text_area :blurb, :rows=>10, :style=>"width:90%"
  
  %h3
    Locale
  = collection_select(:day_home, :location_id, Location.where("organization_id = "+ @day_home.organization.id.to_s), :id, :name)
  
  %h3
    Photos
    
  = f.fields_for :photos do |p|
    .add_multiples.clear{'data-group' => 'photos'}      
      - if p.object.photo?
        .remove_contents
          = link_to image_tag(p.object.photo_url(:thumb), :style => 'max-height: 100px; margin: 0 5px 5px 0;', :class => :left), p.object.photo_url, :alt => p.object.caption, :class => 'photo_preview'
        
      = p.check_box :_destroy, :style => 'display: none;' unless p.object.new_record?
      = p.text_field :caption
      %br
      = p.file_field :photo
      = link_to 'Remove Photo', '#', :class => 'remove_fieldset_link'
  .clear
  %strong= link_to 'Add Another Photo', '#', :class => 'add_multiples_link', 'data-group' => 'photos', 'data-attribute-key' => 'photos_attributes'
  %br
  %br
  
  %h3
    Availability
    
  = f.label :availability_types, 'Full-time Availability', :style => 'font-weight: bold'
  
  - AvailabilityType.full_time.each do |availability|
    = f.label availability.kind, :class => :checkbox do 
      = check_box_tag 'day_home[assign_availability_type_ids][]', availability.id, @day_home.availability_type_ids.include?(availability.id)
      = availability.kind
  
  = f.label :availability_types, 'Part-time Availability', :style => 'font-weight: bold'
  - AvailabilityType.part_time.each do |availability|
    = f.label availability.kind, :class => :checkbox do 
      = check_box_tag 'day_home[assign_availability_type_ids][]', availability.id, @day_home.availability_type_ids.include?(availability.id)
      = availability.kind
      
  %h3
    Certifications
    
  = f.label :certification_types, 'Certification', :style => 'font-weight: bold'
  - CertificationType.all.each do |certification|
    = f.label certification.kind, :class => :checkbox do 
      = check_box_tag 'day_home[assign_certification_type_ids][]', certification.id, @day_home.certification_type_ids.include?(certification.id)
      = certification.kind
  
  
  = f.label :dietary_accommodations, 'Dietary Accommodations', :style => 'font-weight: bold'
  = f.label :dietary_accommodations, 'Dietary Accommodations', :class => :checkbox do
    = f.check_box :dietary_accommodations
    Accommodates for Food Allergies
  
  = f.label :licensed, 'Licensed', :style => 'font-weight: bold'
  = f.label :licensed, 'Licensed', :class => :checkbox do
    = f.check_box :licensed
    Licensed

  %br
  = f.submit 'Save', :class => 'btn'
  |
  = link_to 'Cancel', :day_homes
  
 #dialog-form{:title => "Feature me"}
  %p.validateTips 
  =form_for(Feature.new, :url=>billing_add_path(), :method=>:put, :remote=>true) do |f|
    .span-12.append-2
      Add
      %input#number.span1.text.ui-widget-content.ui-corner-all{:maxlength => "4",:name => "number", :type => "text"}/
      %span#credit-or-cedits credits
      to my account
    .span-6.ta_right
      %strong Subtotal:
      $
      %span#buy-credits-total 0.00
      %br/
      %span.light-blue-text.fs_11 Taxes may apply
    .clear
    .span-18
      %h5 Bulk Discount Pricing
      %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td 1 – 11
            %td.ta_right $5.00 ea.
          %tr
            %td 12 – 99
            %td.ta_right $2.00 ea.
          %tr
            %td 100+
            %td.ta_right $1.00 ea.
    .clear   