:javascript

  $(function(){
    tips = $( ".validateTips" );
    function updateTips( t ) {
      tips
        .text( t )
        .addClass( "ui-state-highlight" );
    }

    add_another_mangement();
    $(".photo_preview").colorbox({rel:'photo_preview'});
    
    $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 200,
      width: 400,
      modal: true,
      buttons: {
        "Feature!": function() {
          var self = $(this);  
          $("#dialog-form form")[0].submit();
          /*
          $.ajax({
            type: 'POST',
            url: "#{billing_activate_path()}",
            data: $("#dialog-form form").serializeArray(),
            dataType: 'json'
          })
          .done(function(data, text, xhr){
            //success
            self.dialog( "close" );
          })
          .fail(function(jqXHR, textStatus, errorThrown) {
            updateTips(jqXHR.responseText);
          }); */
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }}
    });
    var input = $('#months');
    var monthOrMonthss = $('#month-or-months');
    var updateSubtotal = function () {
      var numMonths = parseInt(input.val(), 10) || 0;
      monthOrMonthss.html(numMonths == 1 ? 'month' : 'months');
    };
    input.on('keyup', updateSubtotal);
    updateSubtotal();

    $( "#feature-me" )
      .click(function() {
        $( "#dialog-form" ).dialog( "open" );
      });
  });



-if @day_home.errors.any?  
  .alert.alert-error
    %h3
      It seems that 
      = pluralize(@day_home.errors.count, "error")
      prevented this page from being saved:
    %ul  
      - @day_home.errors.full_messages.each do |msg|
        %li
          = msg
%h2
  Edit
  = @day_home.name

= form_for @day_home, :html => {:multipart => true} do |f|
  .floatr
    -if @day_home.featured?
      %strong
        .featured-button.featured
          .ui-button-text
            Featured
            %span.fs_11
              until #{@day_home.feature_end_date}
    -else
      %strong
        = link_to '#', :id=>"feature-me", :class=>"featured-button feature-me" do
          .ui-button-text
            Feature me!
  %h3
    Description  
  = f.label :highlight
  = f.text_area :highlight, :rows=>10, :style=>"width:90%"
  
  = f.label :blurb
  = f.text_area :blurb, :rows=>10, :style=>"width:90%"
  
  = f.label :street1, 'Street 1'
  = f.text_field :street1

  = f.label :street2, 'Street 2'
  = f.text_field :street2
  
  = f.label :postal_code, 'Postal Code'
  = f.text_field :postal_code
  
  = f.label :city
  = f.text_field :city
  
  = f.label :province
  = f.state_select :province, 'CA'
  %h3
    Locale
  = collection_select(:day_home, :location_id, Location.where("organization_id = "+ @day_home.organization.id.to_s), :id, :name)
  
  %h3
    Photos
    
  = f.fields_for :photos do |p|
    .add_multiples.clear{'data-group' => 'photos'}      
      = p.label :caption, 'Caption'
      - if p.object.photo?
        .remove_contents
          = link_to image_tag(p.object.photo_url(:thumb), :style => 'max-height: 100px; margin: 0 5px 5px 0;', :class => :left), p.object.photo_url, :alt => p.object.caption, :class => 'photo_preview'
        
      = p.check_box :_destroy, :style => 'display: none;' unless p.object.new_record?
      = p.text_field :caption
      = p.check_box :default_photo
      = 'Set as default'
      %br
      = p.file_field :photo
      = link_to 'Remove Photo', '#', :class => 'remove_fieldset_link'
  .clear
  %strong= link_to 'Add Another Photo', '#', :class => 'add_multiples_link', 'data-group' => 'photos', 'data-attribute-key' => 'photos_attributes'
  %br
  %br
  
  %h3
    Availability
    
  = f.label :availability_types, 'Full-time Availability', :style => 'font-weight: bold'
  
  - AvailabilityType.full_time.each do |availability|
    = f.label availability.kind, :class => :checkbox do 
      = check_box_tag 'day_home[assign_availability_type_ids][]', availability.id, @day_home.availability_type_ids.include?(availability.id)
      = availability.kind
  
  = f.label :availability_types, 'Part-time Availability', :style => 'font-weight: bold'
  - AvailabilityType.part_time.each do |availability|
    = f.label availability.kind, :class => :checkbox do 
      = check_box_tag 'day_home[assign_availability_type_ids][]', availability.id, @day_home.availability_type_ids.include?(availability.id)
      = availability.kind
      
  %h3
    Certifications
    
  = f.label :certification_types, 'Certification', :style => 'font-weight: bold'
  - CertificationType.all.each do |certification|
    = f.label certification.kind, :class => :checkbox do 
      = check_box_tag 'day_home[assign_certification_type_ids][]', certification.id, @day_home.certification_type_ids.include?(certification.id)
      = certification.kind
  
  
  = f.label :dietary_accommodations, 'Dietary Accommodations', :style => 'font-weight: bold'
  = f.label :dietary_accommodations, 'Dietary Accommodations', :class => :checkbox do
    = f.check_box :dietary_accommodations
    Accommodates for Food Allergies
  
  = f.label :licensed, 'Licensed', :style => 'font-weight: bold'
  = f.label :licensed, 'Licensed', :class => :checkbox do
    = f.check_box :licensed
    Licensed

  %br
  = f.submit 'Save', :class => 'btn'
  |
  = link_to 'Cancel', :day_homes
  
#dialog-form{:title=>"Feature #{@day_home.name}"}
  %p.validateTips 
  =form_for(@day_home, :url=>billing_activate_path(), :method=>:put, :remote=>true) do |f|
    .span-12.append-2
      Feature me for 
      %input#months.span1.text.ui-widget-content.ui-corner-all{:maxlength => "4",:name => "months", :type => "text"}/
      %span#month-or-months months
      = hidden_field_tag :day_home_id, @day_home.id
    
    
    .clear   