:javascript

  $(function(){
    
    $('#day_home_name').keyup(function(e) {
      var parsed_subdomain = $(this).val().replace(/[^a-z0-9]/gi,'').toLowerCase();
      $('#day_home_slug').empty().val(parsed_subdomain);
    });

    //need to treat the default_photo checkboxes like radio buttons
    var changing=false;
    $('form').on("change","input[name$='[default_photo]']",function(event) {
      if(!changing){
        changing=true;
        $('form input[name$="[default_photo]"][type="checkbox"]').each(function(){
          $(this).prop("checked",false);
        });
        $(this).prop("checked",true);
        changing=false;
      }
    });

    tips = $( ".validateTips" );
    function updateTips( t ) {
      tips
        .text( t )
        .addClass( "ui-state-highlight" );
    }

    add_another_mangement();
    $(".photo_preview").colorbox({rel:'photo_preview'});
    
    //  $( "#dialog-form" ).dialog({
    //   autoOpen: false,
    //   height: 200,
    //   width: 400,
    //   modal: true,
    //   buttons: {
    //     "Feature!": function() {
    //       var self = $(this);  
    //       $("#dialog-form form")[0].submit();
    //       /*
    //       $.ajax({
    //         type: 'POST',
    //         url: "#{billing_activate_path()}",
    //         data: $("#dialog-form form").serializeArray(),
    //         dataType: 'json'
    //       })
    //       .done(function(data, text, xhr){
    //         //success
    //         self.dialog( "close" );
    //       })
    //       .fail(function(jqXHR, textStatus, errorThrown) {
    //         updateTips(jqXHR.responseText);
    //       }); */
    //     },
    //     Cancel: function() {
    //       $( this ).dialog( "close" );
    //     }}
    // });
    var input = $('#months');
    var monthOrMonthss = $('#month-or-months');
    var updateSubtotal = function () {
      var numMonths = parseInt(input.val(), 10) || 0;
      monthOrMonthss.html(numMonths == 1 ? 'month' : 'months');
    };
    input.on('keyup', updateSubtotal);
    updateSubtotal();

    $('#featureMe').click(function() {
        $("#dialog-form form")[0].submit();
    });
    
  });



-if @day_home.errors.any?  
  .alert.alert-danger
    %h3
      It seems that 
      = pluralize(@day_home.errors.count, "error")
      prevented this page from being saved:
    %ul  
      - @day_home.errors.full_messages.each do |msg|
        %li
          = msg
.well.form-horizontal
  %h2
    Edit
    = @day_home.name


  .topright
    -if @day_home.featured?
      %strong
        .featured-button.featured
          .ui-button-text
            Featured
            %div.fs_11
              until #{@day_home.feature_end_date}
    -else
      %strong
        %button.featured-button.feature-me{"data-target" => "#dialog-form", "data-toggle" => "modal", :type => "button"} Feature me!
  = render 'form'


.modal.fade#dialog-form{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      =form_for(@day_home, :url=>billing_activate_path(), :method=>:put, :remote=>true, :class=>"form-horizontal") do |f|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#mySmallModalLabel.modal-title 
            ="Feature #{@day_home.name}"
        .modal-body.form-horizontal
          %p.validateTips 
          .form-group
            %label.col-sm-3.control-label
              Feature me for 
            .col-sm-9
              %input#months.span1.col-lg-1.col-md-1.col-sm-1.text.ui-widget-content.ui-corner-all{:maxlength => "4",:name => "months", :type => "text"}/
              %span#month-or-months months
              = hidden_field_tag :day_home_id, @day_home.id
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
          %button.btn.btn-primary#featureMe{:type => "button"} Feature!
    
    .clear   