%h2
  Edit
  = @day_home.name

= form_for @day_home do |f|
  = f.label :availability_types, 'Full-time Availability', :style => 'font-weight: bold'
  
  - AvailabilityType.full_time.each do |availability|
    = f.label availability.kind, :class => :checkbox do 
      = check_box_tag 'day_home[assign_availability_type_ids][]', availability.id, @day_home.availability_type_ids.include?(availability.id)
      = availability.kind
  
  = f.label :availability_types, 'Part-time Availability', :style => 'font-weight: bold'
  - AvailabilityType.part_time.each do |availability|
    = f.label availability.kind, :class => :checkbox do 
      = check_box_tag 'day_home[assign_availability_type_ids][]', availability.id, @day_home.availability_type_ids.include?(availability.id)
      = availability.kind
  
  = f.label :certification_types, 'Certification', :style => 'font-weight: bold'
  - CertificationType.all.each do |certification|
    = f.label certification.kind, :class => :checkbox do 
      = check_box_tag 'day_home[assign_certification_type_ids][]', certification.id, @day_home.certification_type_ids.include?(certification.id)
      = certification.kind
  
  
  = f.label :dietary_accommodations, 'Dietary Accommodations', :style => 'font-weight: bold'
  = f.label :dietary_accommodations, 'Dietary Accommodations', :class => :checkbox do
    = f.check_box :dietary_accommodations
    Accommodates for Food Allergies
  
  = f.label :licensed, 'Licensed', :style => 'font-weight: bold'
  = f.label :licensed, 'Licensed', :class => :checkbox do
    = f.check_box :licensed
    Licensed

  %br
  = f.submit 'Save', :class => 'btn'
  |
  = link_to 'Cancel', :day_homes
  
  