:javascript
  $(function(){
    $(".photo_preview").colorbox({rel:'photo_preview'});

    $("#adminSearchBtn").click(function(event){
      $("#searchForm").submit();
      
      event.preventDefault(); // Prevent link from following its href
    });
  });  
%h2
  -if (current_user.organization_admin?)
    #{current_user.organization.name} dayhomes
  -else
    My dayhomes
%p
  = link_to 'Create dayhome', [:new, :day_home], :class => :btn    
=form_tag({:controller => "day_homes", :action => "index"},:method=>"get", :id => :searchForm) do 
  %div.input-prepend.pull-right
    %span.add-on
      %i.icon-search
    = text_field_tag :query, nil, :placeholder => "Search", :value=> @query
    = link_to 'Go','#',:id => 'adminSearchBtn',:class => :btn

- if @day_homes.blank?
  %p
    No dayhomes have been assigned to you or, at least, none that match that criteria!
- else
  %table.table-striped.table{:cellpadding => '5'}
    %thead
      %tr
        %th
          = sortable "location_id","Locale"
        %th
          = sortable "name","Name"
        %th
          Address
        %th
          Photos
        %th
          Featured?
        %th
          Actions
    %tbody
      - @day_homes.each do |day_home|
        %tr
          %td
            = day_home.location.name
          %td
            = link_to day_home.name, day_home
          %td
            = day_home.address
          %td
            - if day_home.photos.blank?
              None
            - else
              - day_home.photos.each do |photo|
                = link_to image_tag(photo.photo_url(:thumb), :style => 'max-height: 25px; margin: 0 5px 5px 0;', :class => :left), photo.photo_url, :alt => photo.caption, :class => 'photo_preview', :title => photo.caption
          %td
            = yes_no(day_home.featured?)
          %td
            = link_to 'Edit', [:edit, day_home]
            |
            = link_to('Calendar', "/day_homes/#{day_home.id}/calendar")
= paginate @day_homes, :window => 1,:left => 3,:right => 3            