:javascript
  $('[rel=tooltip]').tooltip({placement:'right'});
  var dialog;
  $(document).ready(function(){
    dialog = $( "#contact-form" ).dialog({
      autoOpen: false,
      height: 890,
      width: 825,
      modal: true,
      close: function() {
        allFields.val( "" ).removeClass( "ui-state-error" );
      }
    });

    $('#linkToContactForm').on('click',function(event){
      dialog.dialog( "open" );
    });
    /*
    $('#new_day_home_contact').bind('submit', function (event) {
        self.handleForm( self, event );
    });
    */
    $(".slides-sm").cycle({
      fx:     "fade",
      speed:    600,
      timeout:  5000
    });
  });
-@content_for_title="#{@day_home.name} - Dayhome Registry"
.row
  .span12
    %h2
      = @day_home.name
    -if @day_home_contact.errors.any? 
      #errorExplanation
        %h2
          = pluralize(@day_home_contact.errors.count, "error")
          prohibited the message from being sent:
        %ul
          - @user.errors.full_messages.each do |msg|
            %li
              = msg
    %p
      :plain
        <div class="fb-like" data-href="#{day_home_slug_url(@day_home.slug)}" data-send="false" data-layout="button_count" data-width="55" data-show-faces="false"></div>

        <g:plusone size="medium"></g:plusone>

        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>

        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

.row
  .well.wellSize  
    %div{:style=>"width:500px;float:right;margin: 0 0 0 1em;"}
      - unless @day_home.photos.blank?
        .slides-sm
          - @day_home.photos.each do |dh_photo| 
            .slide-sm
              %img{:src=>"#{dh_photo.photo_url(:reg)}"}
              /
                - if dh_photo.caption.present?
                  .slide-desc
                    .slide-desc-inset
                      %p
                        = dh_photo.caption
    %div
      :markdown
        #{@day_home.highlight}
    %div
      :markdown
        #{@day_home.blurb}                          

.row
  %br
.row
  .span3
    %h3.singleViewH3
      Availability
    %div.availability
      = link_to('View Calendar', calendar_day_home_path(@day_home), :style => 'font-size: 14px')
      
      %h4
        Open Availability
        - avail = @day_home.availability
        - if avail.empty?
          = image_tag("circle-empty.png", :alt => "Closed", :title => "Closed")
        - else
          - if avail.include? "Full-time"
            = image_tag("circle-full.png", :alt => "Full-time", :title => "Full-time")
          - if avail.include? "Part-time"
            = image_tag("circle-half.png", :alt => "Part-time", :title => "Part-time")
      - @day_home.availability_types.each do |av|
        = "#{av.availability} -  #{av.kind}"
        %br
  .span3
    %h3.singleViewH3
      Contact Information
    .contact_info
    - if @day_home.organization.day_homes.count>1
      %div
        This dayhome is proudly managed through 
        %span.external
          #{@day_home.organization.name}
        , click here for
        = link_to(" other locations near this one.",searches_path('search[organization]'=>@day_home.organization.id,'search[address]'=>@day_home.address))   
        %br
        Phone:
        =@day_home.organization.phone_number
    - else
      %div
        = @day_home.address
        - if @day_home.phone_number?
          %br
          Phone:
          = @day_home.phone_number


    
    #contact-form
      %p.validateTips 
      %h3
        Contact #{@day_home.name}
      = simple_form_for @day_home_contact, :url => contact_day_home_path(@day_home),:validate=>true do |cf|            
        .span4.well
          = cf.input :name, :label=>"Your name"
          = cf.input :email, :label=>"Your email"
          = cf.input :phone, :label=>"Your phone"          

        .span4.well
      
          = cf.input :home_address, :label=>false do             
            =cf.label :home_address, :style => 'display:inline;'
            %i.icon-info-sign{:rel=>"tooltip", :title=> "If you are contacting an accredited dayhome, this helps the agency find other options if this one won't work." }
            =cf.text_field :home_address
    
          = cf.input :child_start_date, :label=>"Desired Start Date"
                
        .span9.well
          = cf.input :child_name, :label =>"Child's name"
          = cf.input :child_birth_date, :discard_day => true, :start_year => Date.today.year - 18, :end_year => Date.today.year                       
          %hr
          = cf.input :child_name2, :label =>"Child's name (optional)"
          = cf.input :child_birth_date2, :discard_day => true, :start_year => Date.today.year - 18, :end_year => Date.today.year                       
            
        .span9.remember
          = cf.input :subject,:label=>"Regarding" 
          = cf.error :subject, :id => 'subject_error'

          = cf.input :message, :label=>false do
            =cf.label :message, :label=>"Message", :style => 'display:inline;'
            %i.icon-info-sign{:rel=>"tooltip", :title=> "Make sure to include contact information in your message!" }
            = cf.text_area :message, :style => 'height: 150px !important;'
            
        = cf.hidden_field :day_home_email, :value => @day_home_contact.day_home_email
        = raw (get_captcha())
        .submit
          = cf.button :submit,  "Contact", :class => 'btn btn-primary span3'
  .span3
    = link_to 'Contact Dayhome', '#contact-form', :class => "callToActionButton gradient", :id=>"linkToContactForm"
.row
  %br

.row
  .mediaAlign.span6
    %h3.singleViewH3
      Location
    = gmaps(:map_options => { :center_latitude => @day_home.lat,
                                 :center_longitude => @day_home.lng,
                                 :zoom => 16,
                                 :auto_zoom => false,
                                 :provider_key => gmaps_api_key},
               :markers     => { :data => gmap_prepare_dayhomes([@day_home]) })
  .span3
    %h3.singleViewH3
      Other Information
    %h4
      Certifications
    .certifications
      %p
        = @day_home.name
        has the following certifications:
        %br
        -if @day_home.certification_types.any?
          - @day_home.certification_types.each do |cert|
            = "- #{cert.kind}"
            %br
    %h4
      Dietary Accomodations
    .dietaryAccomodations
      %p
        = @day_home.name
        %strong
          is
          = "not" unless @day_home.dietary_accommodations?
        mindful of children with dietary concerns.


.row
  .span12
    .list_reviews
      %h3      
        Reviews
      - if @reviews.blank?
        %p{:style => 'font-size: 12px'}
          No one has left a review for this dayhome yet.
      - else
        = render 'reviews/show', :reviews => @reviews
        = paginate @reviews
    .create_review
      %h3
        Create Review
      - if current_user
        = render 'reviews/form'
      - else
        %p
          To leave a review, please signin or signup using
          = fb_connect_button
        %p
          or, if you'd rather, you can 
          = link_to 'Login', login_path
          or
          = link_to 'Sign Up', new_user_path
          






