:javascript
  $(document).ready(function() {
    $('[rel=tooltip]').tooltip({placement:'right'});

    $.modal.defaults = {
        overlay: "#000",        // Overlay color
        opacity: 0.75,          // Overlay opacity
        zIndex: 1,              // Overlay z-index.
        escapeClose: true,      // Allows the user to close the modal by pressing `ESC`
        clickClose: true,       // Allows the user to close the modal by clicking the overlay
        closeText: 'Close',     // Text content for the close <a> tag.
        showClose: true,         // Shows a (X) icon/link in the top-right corner
        modalClass: "modal",    // CSS class added to the element being displayed in the modal.
    };
  });

  $(function(){
    $(".photo_preview").colorbox({rel:'photo_preview'});
  });

%h2
  = @day_home.name

%p
  :plain
    <div class="fb-like" data-href="#{day_home_slug_url(@day_home.slug)}" data-send="false" data-layout="button_count" data-width="55" data-show-faces="false"></div>
    
    <g:plusone size="medium"></g:plusone>

    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      
.row
  .span5
    %p
      #contact-form.modal
        %h3 Contacting
        %h5 #{@day_home.name}
        = form_for @day_home_contact, :url => contact_day_home_path(@day_home), :validate => true do |cf|
          = cf.label :name, "Your name:"
          = cf.text_field :name, :class => "required"

          = cf.label :name, "Your email:"
          = cf.text_field :email, :class => "required"
          
          = cf.label :name, "Your phone (optional):"
          = cf.text_field :phone
          
          = cf.label :subject, "Regarding:"
          = cf.text_field :subject

          .remember
            = cf.label "Message:"
            %i.icon-info-sign{:rel=>"tooltip", :title=> "Make sure to include contact information in your message!" }
          = cf.text_area :message, :cols => 90, :rows => 10

          = cf.hidden_field :day_home_email, :value => @day_home_contact.day_home_email
          .submit
            = cf.submit "Contact", :class => 'btn btn-primary span3'

    %ul.unstyled
      - if @day_home.blurb.present?
        %li
          %h3.singleViewH3
            About
          = @day_home.blurb

      %li
        %h3.singleViewH3
          Contact Information
        .contact_info
          = mail_to @day_home.email, "Email Us", :encode => "javascript"
          = ' / '
          %a(title="Contact Form" href="#contact-form" rel="modal:open") Contact Form
          = ' / '
          = link_to('View Calendar', calendar_day_home_path(@day_home))
        #contact-form.modal
          %h3 Contacting
          %h5 #{@day_home.name}
          = form_for @day_home_contact, :url => contact_day_home_path(@day_home), :validate => true do |cf|
            = cf.label :name, "Your name:"
            = cf.text_field :name, :class => "required"

            = cf.label :name, "Your email:"
            = cf.text_field :email, :class => "required"
            
            = cf.label :name, "Your phone (optional):"
            = cf.text_field :phone
            
            = cf.label :subject, "Regarding:"
            = cf.text_field :subject

            .remember
              = cf.label "Message:"
              %i.icon-info-sign{:rel=>"tooltip", :title=> "Make sure to include contact information in your message!" }
            = cf.text_area :message, :cols => 90, :rows => 10

            = cf.hidden_field :day_home_email, :value => @day_home_contact.day_home_email
            .submit
              = cf.submit "Contact", :class => 'btn btn-primary span3'

        %div
          = @day_home.address
          - if @day_home.phone_number?
            %br
            Phone Number:
            = @day_home.phone_number
        %div.availability
          %h4
            Open Availability
            - avail = @day_home.availability
            -if avail.empty?
              =image_tag("circle-empty.png", :title=> "Closed")
            -else
              -if avail.include? "Full-time"
                =image_tag("circle-full.png", :title=> "Full-time")
              -if avail.include? "Part-time"
                =image_tag("circle-half.png", :title=> "Part-time")
          - @day_home.availability_types.order("id asc").each do |av|
            = "#{av.availability} -  #{av.kind}"
      
      %li
        %h3.singleViewH3
          Certifications 
        .certifications
          %p
            = @day_home.name
            has the following certifications:
      %li
        %h3.singleViewH3
          Dietary Accomodations
        .dietaryAccomodations
          %p
            = @day_home.name
            is mindful of children with the following dietary concerns.
      %li
        %h3.singleViewH3
          Licensed
        .licensed
          %p
            = @day_home.name
            is licensed.
      = link_to 'Contact Dayhome'.html_safe, [:new, :day_home_signup_request], :id => 'contactFormButton', :href => '#contact-form', :rel => 'modal:open'

  .mediaAlign.span7
    %h3.singleViewH3
      Find Us
    = gmaps(:map_options => { :center_latitude => @day_home.lat,
                                 :center_longitude => @day_home.lng,
                                 :zoom => 16,
                                 :auto_zoom => false,
                                 :provider_key => gmaps_api_key},
               :markers     => { :data => gmap_prepare_dayhomes([@day_home]) })

    %h3.singleViewH3
      Photos
    - if @day_home.photos.blank?
      %p
        No photos available.
    - else    

      %ul#slideshow
        - @day_home.photos.each do |photo|
          %li
            %h3
              = photo.caption
            %span= photo.photo_url
            = image_tag(photo.photo_url)

      #sliderWrapper
        #fullsize
          #imgprev.imgnav{:title => "Previous Image"}
          #imglink
          #imgnext.imgnav{:title => "Next Image"}
          #image
          #information
            %h3

.row
  .span12
    .list_reviews
      %h3
        Reviews
      - if @reviews.blank?
        %p{:style => 'font-size: 12px'}
          No one has left a review for this dayhome yet.
      - else
        = render 'reviews/show', :reviews => @reviews
        = paginate @reviews
    .create_review
      %h3
        Create Review
      - if current_user
        = render 'reviews/form'
      - else
        %p
          Please
          = link_to 'Login', login_path
          or 
          = link_to 'Sign Up', new_user_path
          to leave a review.

= content_for :header_scripts do
  = javascript_include_tag 'jquery.home_slider'

:javascript
  $('slideshow').style.display='none';
  $('sliderWrapper').style.display='block';
  var slideshow=new TINY.slideshow("slideshow");
  window.onload=function(){
    slideshow.auto=true;
    slideshow.speed=5;
    slideshow.info="information";
    slideshow.scrollSpeed=4;
    slideshow.spacing=5;
    slideshow.active="#fff";
    slideshow.init("slideshow","image","imgprev","imgnext","imglink");
  }
