-content_for :footer_scripts do
  = javascript_include_tag :organization
  
- @organization.users.build if @organization.users.blank? 
- @organization.day_homes.build if @organization.day_homes.blank? 
= simple_form_for @organization, html: {multipart: true}  do |f| 
  - if (@organization.errors.keys.include?(:users))
    .alert.alert-error
      = f.full_error(:users)
  - if (@organization.errors.keys.count>1)
    = f.error_notification 

  

  .form-inputs 
    .control-group
      .control-label
        Contact Information
      .controls
        .append-bottom-1.first    
          = f.input :name 
          = f.input :phone_number
    .control-group
      .control-label
        Address
      .controls
        .append-bottom-1.first    
          = f.input :street1 
          = f.input :street2
          = f.input :city
          = f.input :province
          = f.input :postal_code
    .control-group
      .control-label
        Description
      .controls
        .append-bottom-1.first  
          .control-group
            =label_tag "Logo", nil,:class=>"control-label"
            .controls
              .logo
                -if !@organization.logo.nil?
                  %img{:src=>"#{@organization.logo.photo_url(:thumb)}"}
              .input
                =file_field_tag 'organization[logo_attributes][photo]' 
          .control-group
            = f.input :blurb , as: :text, input_html:{maxlength:"250", rows:"12"} 
            .controls
              %span.small
                max 250 characters
          .control-group
            =label_tag "Pin", nil,:class=>"control-label"
            .controls
              .logo
                -if !@organization.pin.nil?
                  %img{:src=>"#{@organization.pin.photo_url(:thumb)}"}
              .input
                =file_field_tag 'organization[pin_attributes][photo]' 
    = f.hidden_field :stripe_card_token   
  .append-bottom-1  
    #stripe_error
      %noscript
        Javascript is not enabled and is required for this form.  First enable it in your web browser settings. 
  -if !@organization.credit_card.nil?
    #existingCard
      .control-group                
        .control-label
          Credit Card
        .controls  
          .append-bottom-1.first            
            =label_tag :existing_card_number, "**** **** **** "+@organization.credit_card[:last4], :style=>"width:150px;"
            .span-7
              =label_tag :existing_card_exp, "Exp:"+@organization.credit_card[:month].to_s+"/"+@organization.credit_card[:year].to_s, :style=>"display:inline;padding-right:5px;"
            .clear
          .append-bottom-1
            .span-7
              = link_to 'Enter a new credit card','#', :id=>'change_credit_card_link'   
  #newCard{:style=>"display:#{(@organization.credit_card.nil? && 'block') || 'none'};"}      
    .append-bottom-1
      .span-25
        /
          .control-group
            %label.control-label{:for => "BILL_NAME"}
              Name on Card
            .controls
              %input#BILL_NAME.input-large{:name => "BILL_NAME", :type => "text", :value => ""}
        .control-group          
          =label_tag :card_number, "Card Number", :class=>"control-label"            
          .controls  
            .span-11
              =text_field_tag :card_number, '', :name=>nil, :class=>"input-large",:onkeypress => "return numbersonly2(this, event)"
              .example
                Number
            .span-4
              =text_field_tag :card_code, nil, name:nil, :class=>"input-mini"
              .example
                CVV
                <i class="icon-info-sign" data-title="What's a CVV?" data-content="The CVV Number ("Card Verification Value") on your credit card or debit card is a 3 digit number on VISA速, MasterCard速 and Discover速 branded credit and debit cards. On your American Express速 branded credit or debit card it is a 4 digit numeric code."></i>      
        .control-group
          =label_tag :card_expiry, "Expiry date", :class=>"control-label"  
          .controls
            .span-6.append-bottom-1
              =select_month nil, {add_month_numbers: true},{name:nil,id:"card_month"}
              .example
                Month
            .span-6.append-bottom-1
              =select_year nil, {start_year:Date.today.year,end_year:Date.today.year+15}, {name:nil, id: "card_year"}
              .example.first
            Year        
        - if !@organization.credit_card.nil?
          .control-group
            .controls
              .span-7
                = link_to 'Keep card on record', '#', :id=>'cancel_credit_card_link'
  .clear  
  .form-actions
    %span.button.large.green.single
      %input#submit-button{:name => "submitButton", :type => "submit", :value => "Save Changes"}
:javascript

  var Dayhome = Dayhome || {};

  Dayhome.editPage = {
    
  };
  $('#change_credit_card_link').click(function(){
    $('#existingCard').hide();
    $('#newCard').show();
    return false;
  });
  $('#cancel_credit_card_link').click(function(){
    $('#newCard').hide();
    $('#existingCard').show();
    $('#card_number').val("")
    return false;
  });

  Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));
