:javascript
  $(function(){
    add_another_mangement();
  });
  
- @organization.users.build if @organization.users.blank? 
- @organization.day_homes.build if @organization.day_homes.blank? 
= simple_form_for(@organization) do |f| 
  - if (@organization.errors.keys.include?(:users))
    .alert.alert-error
      = f.full_error(:users)
  - if (@organization.errors.keys.count>1)
    = f.error_notification 

  

  .form-inputs
    = f.input :name 
    = f.input :phone_number
    = f.input :street1 
    = f.input :street2
    = f.input :city
    = f.input :province
    = f.input :postal_code
      
    
  .form-actions
    = f.button :submit 
