
%p
  = link_to 'Create User', [:new, :admin, :user], :class => :btn
=form_tag({:controller => "users", :action => "index"},{ :method=>"get", :id => :searchForm}) do 
  %div.input-prepend.pull-right
    %span.add-on
      %i.icon-search
    = text_field_tag :query, nil, :placeholder => "Search", :value=> @query
    = link_to 'Go','#',:id => 'adminSearchBtn',:class => :btn
- if @users.blank?
  %p    
    Huh.  There don't seem to be any people like that.
- else

  %table.table-striped.table{:cellpadding => '5'}
    %thead
      %tr
        %th
          =sortable 'full_name','Full Name',params[:query]
        %th
          =sortable 'email','Email',params[:query]
        %th
          Is Admin?
        %th
          Organization
        %th
          Locale
        %th
          =sortable 'created_at','Created',params[:query]
        %th
          Actions
    %tbody
      - @users.each do |user|
        %tr
          %td
            = user.full_name
          %td
            = user.email
          %td
            = yes_no(user.admin?)
          %td
            = user.organization.nil? ? "" : user.organization.name            
          %td
            = user.location.nil? ? "" : user.location.name
          %td
            = user.created_at.to_s(:descriptive)
          %td
            = link_to 'Edit', [:edit, :admin, user]
            |
            = link_to 'Delete', [:admin, user], :method => :delete, :confirm => "Are you sure you want to remove #{user.full_name}?"
            
            
  = paginate @users