.row.registrationStyle
  .span4.well.form-horizontal
    %h2
      Your Account

    = form_for @user_session do |f|
      = f.label :email
      = f.email_field :email

      = f.label :password
      = f.password_field :password

      %br
      %br
      = f.submit 'Login', :class => 'btn'
      |
      = link_to 'Forgot password?', reset_password_path
  .span1{:style=>"margin-top:100px"}
    OR
  .span4{:style=>"margin-top:100px"}
    = fb_connect_button