%footer
  #about
    %h2
      About Us
    %p
      Dayhome Registry is your answer for all of your dayhome searching needs!
    %p
      Being a parent is busy enough. The mission of the Dayhome Registry is to make being a parent a little easier.
      = link_to 'Read More...', about_pages_path
  #contact
    %h2
      Contact
    %p
      Have any questions or concerns about the Dayhome Registry? We'd love to hear from you.
    %p
      Email us at 
      = link_to 'contact@dayhomeregistry.com','mailto:contact@dayhomeregistry.com', :target=>'_blank'
  #social
    %h2 We're Social
    %p Join the conversation and connect with other dayhomes and parents in your area.
    .social-home
      .wrapper
        Get child care tips:
      .social-home-twitter
        %a{:href => "http://twitter.com/dayhomeregistry", :target => "_blank"}
          =image_tag '/assets/icons/twitter-icon.png', :alt=>'Follow us on Twitter'
      .social-home-facebook
        %a{:href => "http://facebook.com/dayhomeregistry", :target => "_blank"}
          =image_tag '/assets/icons/facebook-icon.png', :alt => 'Like Dayhomes on Facebook'
      .social-home-pinterest
        %a{:href => "http://pinterest.com/dayhomeregistry/", :target => "_blank"}
          =image_tag '/assets/icons/pinterest-icon.png', :alt=>'Follow us on Pinterest'
  .copyright
    %p
    &copy;
    = link_to "Dayhome Registry #{Date.today.year}", root_path
    | Read our
    = link_to 'Privacy Policy', [:privacy, :pages]

= yield :scripts
- if Rails.env.production?
  = javascript_include_tag 'google_analytics'

