%footer
  %p
    &copy;
    = link_to "Dayhome Registry #{Date.today.year}", root_path
    | Read our
    = link_to 'Privacy Policy', [:privacy, :pages]

= yield :scripts
- if Rails.env.production?
  = javascript_include_tag 'google_analytics'
