%header
  .container
    .row
      .span4
        =link_to root_url do
          = image_tag 'logo.png'
      .span8.findDayhome
        #searchBox
          = form_for @search, :url => searches_path, :method => 'get', :focus => 'submit', :html => {:id => :search} do |f|
            = f.search_field :address, :id => 'searchQuery', :placeholder => "Address or Neighbourhood"
            = f.submit "Search", :id => 'submit', :style => 'text-indent: -9999999px;', :border => '0'
          = link_to 'Advanced Search', searches_path

%nav
  .container
    .row
      .span6
        %ul
          %li
            %a#active= link_to 'Home', root_path
          %li
            %a= link_to 'About Us', about_pages_path
          %li
            %a{:href => "mailto:contact@dayhomeregistry.com"} Contact
          - if current_user && current_user.day_home_owner? || current_user && current_user.admin?
            %li
              = link_to 'Forums', forums_path

      .span6.pull-right
        %ul.pull-right
          - if current_user
            = current_user.full_name
            = "-"
            = link_to "Your Account", user_path(current_user)

            - if current_user.admin?
              = link_to "Admin", admin_root_path

            - if current_user.day_home_owner?
              = link_to "My Day Homes", day_homes_path

            = link_to 'Logout', logout_path
          - else
            %li
              = link_to 'Login', login_path
            %li
              = link_to 'Sign Up', new_user_path
            %li
              = fb_connect_button