%header
  .wrapper
    .row
      .span4
      .span8
        #searchBox
          = form_for @search, :url => searches_path, :method => 'get', :html => {:id => :search} do |f|
            = f.search_field :address, :id => 'searchQuery'
            = f.submit "Search", :id => 'submit', :style => 'text-indent: -9999999px;', :border => '0'
          = link_to 'Advanced Search', searches_path
%nav
  .wrapper
    %ul
      %li
        %a#active= link_to 'home', root_path
      %li
        %a{:href => "#"} about
      %li
        %a{:href => "#"} contact
