.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to 'Day homes Admin', [:admin, :day_homes], :class => :brand
      .nav-collapse
        %ul.nav
          %li.active
            = link_to 'Day homes', [:admin, :day_homes]
          %li.active
            = link_to 'Users', [:admin, :users]
      %ul.nav.pull-right
        %li
          = link_to current_user.full_name, [:edit, :admin, current_user]
        %li
          = link_to 'Logout', admin_logout_path