 
:javascript
  setTimeout(
    function(){
      var a=document.createElement("script");
      var b=document.getElementsByTagName("script")[0];
      a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0020/0826.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)
    }, 1);

  $(function(){
    $('#searchSubmit').click(function(){
      $('#search').submit();
      return false;
    });
  });
%header
  #bounds
    #logo
      =image_tag ('logo-white-background.png')
  #nav
    %ul.left
      - if request.path != pages_path
        %li
          = link_to 'Home', pages_path
      %li
        = link_to 'About Us', about_pages_path
      %li
        = link_to 'Blog', "http://blog.dayhomeregistry.com"
      %li
        = link_to 'Shop', "http://shop.dayhomeregistry.com"
      -if current_user 
        -if !current_user.admin? && current_user.organization_admin? 
          %li
            %a{:href => billing_options_path(), :class=>"blue"}
              Upgrade  
      -else    
        %li
          = link_to 'Signup', billing_signup_path, :class=>"blue"  
    %ul.right
      -if current_user && !current_user.organization.nil? && current_user.organization_admin?
        %li
          = link_to 'Overview', organization_path(current_user.organization)
        -if current_user.organization.max_users>1
          %li
            = link_to 'People', users_path
        -else
          %li
            = link_to 'My Account', user_path(current_user)
        - if current_user.organization.max_dayhomes>1 || current_user.organization.day_homes.count==0
          %li
            = link_to 'Day Homes', day_homes_path
        - else
          %li
            = link_to 'My Dayhome', edit_day_home_path(current_user.organization.day_homes.first)
        %li
          %a{:href => billing_extras_path()}
            Buy Extras    
        %li
          = link_to 'Logout', logout_path
      -elsif current_user && current_user.admin?
        %li
          = link_to 'People', [:admin, :users]
        %li
          = link_to 'DayHomes', [:admin, :day_homes]
        %li
          = link_to 'Manage Organizations', [:admin, :organizations]
        %li
          = link_to 'Logout', logout_path 
      -elsif current_user
        %li
          = link_to 'Logout', logout_path 
      - else
        %li
          = link_to 'Login', login_path
    .clear
  #charm
    
  .clear
