:javascript
  $(function(){
    $('#searchSubmit').click(function(){
      $('#search').submit();
      return false;
    });
  });
%header
  #logo
  #nav
    %ul.main-nav
      - if request.path != pages_path
        %li
          = link_to 'Home', pages_path
      %li
        = link_to 'About', about_pages_path
      %li
        = link_to 'Blog', "http://blog.dayhomeregistry.com"
      %li
        = form_for @search, :url => searches_path, :method => 'get', :focus => 'submit', :html => {:id => :search} do |f|
          .searchWrapper
            = f.search_field :address, :id => 'searchQuery', :placeholder => "Address or Neighbourhood"
            = link_to "Search", "#",:id=>'searchSubmit',:class=>"yellow"
      
    .clear
  -if current_user && current_user.dayhome_admin?
    #subnav  
      %ul
        %li
          = link_to 'Overview', agency_path(current_user.agencies.first)
        %li
          = link_to 'People', users_path
        %li
          = link_to 'DayHomes', day_homes_path
        %li
          %a{:href => ""}
            Upgrades
        %li
          %a{:href => ""}
            Buy Extras    
      .clear
  -if current_user && current_user.admin?
    #subnav  
      %ul
        %li
          = link_to 'People', [:admin, :users]
        %li
          = link_to 'DayHomes', [:admin, :day_homes]
        %li
          = link_to 'Manage Agencies', [:admin, :agencies]
      .clear      
  #charm
    - if current_user
      %div
        = link_to "My Account", user_path(current_user)
        = link_to 'Logout', logout_path
    - else
      %div
        = link_to 'Login', login_path
  .clear
