:javascript
  $(function(){
    $('#searchSubmit').click(function(){
      $('#search').submit();
      return false;
    });
  });
%header
  #logo
  #nav
    = form_for @search, :url => searches_path, :method => 'get', :focus => 'submit', :html => {:id => :search} do |f|
      %ul
        - if request.path != pages_path
          %li
            = link_to 'Home', pages_path
        %li
          = link_to 'About Us', about_pages_path
        %li
          = link_to 'Blog', "http://blog.dayhomeregistry.com"
        %li
          = link_to 'Pricing', pricing_pages_path, :class=>"red"
        %li
          %div
            = f.search_field :address, :id => 'searchQuery', :placeholder => "Address or Neighbourhood"
            = link_to "Search", "#",:id=>'searchSubmit',:class=>"yellow"
    .clear
  #charm
    - if current_user
      %div
        = link_to "My Account", user_path(current_user)
        = link_to 'Logout', logout_path
    - else
      %div
        = link_to 'Login', login_path
  .clear
