!!! Strict
%html{:lang =>"en"}
  %head
    %title Dayhomes admin
    = stylesheet_link_tag :application, :media => :all
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    - if current_user
      = render 'layouts/header_admin'
    .container
      = render 'layouts/flash_msgs'
      = yield
    = render 'layouts/footer'