!!! Strict
%html{:lang =>"en"}
  %head
    %title Dayhomes admin
    = stylesheet_link_tag :application, :media => :all
    = javascript_include_tag "http://js.stripe.com/v1/",:application
    = csrf_meta_tags
    = tag :meta, :name=>"stripe-key", :content => STRIPE_PUBLIC_KEY
  %body
    %h1
      WTF
    - if current_user
      = render 'layouts/header_admin'
    .container
      = render 'layouts/flash_msgs'
      = yield
    = render 'layouts/footer'