!!! Strict
%html{:lang =>"en"}
  %head
    %title Day Home Registry
    = stylesheet_link_tag :application, :media => :all
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield :header_scripts
  %body
    = render 'layouts/header'
    #mainContent
      .wrapper
        .row
          .content.span12
            = render 'layouts/flash_msgs'
            = yield
          #contentShadow
    = render 'layouts/footer'
