!!! Strict
/[if lt IE 7] <html lang="en-us" class="lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html lang="en-us" class="lt-ie9 lt-ie8">
/[if IE 8] <html lang="en-us" class="lt-ie9">
/ [if gt IE 8] <!
%html{:lang => "en-us", :xmlns=>"http://www.w3.org/1999/xhtml", 'xmlns:fb'=>"http://ogp.me/ns/fb#"}
  / <![endif]
  %head
    -if !@content_for_title.nil?
      %title #{@content_for_title}
      = tag :meta, :property=>"og:title", :content => @content_for_title
    -else
      %title Dayhome Registry
      = tag :meta, :property=>"og:title", :content => "Dayhome Registry"
      
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag :application, :media => :all

    = javascript_include_tag "https://js.stripe.com/v1/",:application

    = csrf_meta_tags
    = tag :meta, :name=>"stripe-key", :content => STRIPE_PUBLIC_KEY
    = tag :meta, :property=>"og:type", :content => "website"
    = tag :meta, :property=>"og:site_name", :content => "Dayhome Registry"
    = tag :meta, :property=>"og:description", :content => "The center of the Dayhome provider communitiy where Parents can find a dayhome for their children, Dayhome Providers can find resources to help them deliver a better experience, and Agencies can coordinate their online presence."
    
    = tag :meta, :property=>"fb:app_id",:content => "371277729589519"
    :plain
      <script>
        //This is the audience token for the Dayhome Registry Facebook page.
        (function() {
          var _fbq = window._fbq || (window._fbq = []);
          if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
          }
          _fbq.push(['addPixelId', '780389685408561']);
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', 'PixelInitialized', {}]);
      </script>
      <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=780389685408561&amp;ev=PixelInitialized" /></noscript>
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-31077078-1', 'dayhomeregistry.com');
      ga('require', 'linkid', 'linkid.js');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

    / yield
    = content_for :header_scripts
    -if content_for? :ogimage
      = content_for :ogimage
    -else
      = tag :meta, :property=>"og:image", :content => URI.join(root_url, image_path("logo.png"))
    / /yield
    %link{:href => "/assets/icons/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    /[if gte IE 9]
      :css
        .gradient { filter: none; }
        .gradient:hover { filter: none; }
  %body
    :plain
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=371277729589519";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      
    = render 'layouts/header'
    #main   
      = render 'layouts/flash_msgs'
      = yield
      .clear
    = render 'layouts/footer'
    = content_for :footer_scripts
    :plain
      <!-- Facebook Conversion Code for Dayhome Registry -->
      <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
      }
      })();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', '6016154402299', {'value':'0.01','currency':'CAD'}]);
      </script>
      <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6016154402299&amp;cd[value]=0.01&amp;cd[currency]=CAD&amp;noscript=1" /></noscript>