!!! Strict
%html{:lang =>"en"}
  %head
    %title Dayhomes
    = stylesheet_link_tag :application, :media => :all
    = javascript_include_tag :application
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect}"
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container
      = render 'layouts/flash_msgs'
      = yield
    = render 'layouts/footer'