!!! Strict
%html{:lang =>"en"}
  %head
    %title Dayhome Registry
    = stylesheet_link_tag :application, :media => :all
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield :header_scripts
    %link{:href => "assets/icons/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
  %body
    :plain
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=371277729589519";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    = render 'layouts/header'
    #mainContent
      .container
        .content.span12
          .row
            .span12
              .pull-right.logstyle
                - if current_user
                  = current_user.full_name
                  = "-"
                  = link_to "Your Account", user_path(current_user)

                  - if current_user.admin?
                    = link_to "Admin", admin_root_path

                  - if current_user.day_home_owner?
                    = link_to "My Day Homes", day_homes_path
                  = link_to 'Logout', logout_path
                - else
                  = link_to 'Login', login_path
                  = " / "
                  = link_to 'Sign Up', new_user_path
                  = fb_connect_button
          = render 'layouts/flash_msgs'
          = yield
        #contentShadow
      .container
        .span12
          .footerShadow
      .container
        .span12.footerInfo
          .about.span4
            %h2 About Us
            %p Day Home Registry is your answer for all of your day home searching needs!
            %p Being a parent is busy enough. The mission of the Day Home Registry is to make being a parent a little easier.
            %a= link_to 'Read More...', about_pages_path
          .contact.span4
            %h2 Contact
            %p Have any questions or concerns about the Day Home Registry? We'd love to hear from you.
            %p
              Email us at
              %a{:href => "mailto:contact@dayhomeregistry.com", :target => "_new"} contact@dayhomeregistry.com
          .social.span4
            %h2 We're Social
            %p Join the conversation and connect with other dayhomes and parents in your area.
            %a{:href => "http://www.facebook.com/DayhomeRegistry", :target => "_blank"}
              %p
                = image_tag 'icons/facebook.png'
                %span Friend Us on Facebook
            %a{:href => "http://twitter.com/dayhomeregistry", :target => "_blank"}
              %p
                = image_tag 'icons/twitter-2.png'
                %span Follow Us on Twitter
    = render 'layouts/footer'
