<!DOCTYPE html>
/[if lt IE 7] <html lang="en-us" class="lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html lang="en-us" class="lt-ie9 lt-ie8">
/[if IE 8] <html lang="en-us" class="lt-ie9">
/ [if gt IE 8] <!
%html{:lang => "en-us"}
  / <![endif]
  %head
    -if content_for?(:title)
      = yield :title
    -else
      %title Dayhome Registry
    = tag :meta, :name=>"viewport", :content => "width=device-width, initial-scale=1"
    = stylesheet_link_tag "beta-layout", :media => :all
    %script(src="http://maps.googleapis.com/maps/api/js?sensor=false")
    = javascript_include_tag "beta-layout"
    = csrf_meta_tags
    / yield
    = yield :header_scripts
  %body
    .container-fluid
      = render 'layouts/beta/header'
      = render 'layouts/flash_msgs'
      = yield    
    = render 'layouts/beta/footer'
    = yield :footer_scripts
    = render 'layouts/beta/login'
