!!! Strict
/[if lt IE 7] <html lang="en-us" class="lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html lang="en-us" class="lt-ie9 lt-ie8">
/[if IE 8] <html lang="en-us" class="lt-ie9">
/ [if gt IE 8] <!
%html{:lang => "en-us"}
  / <![endif]
  %head
    %title Dayhome Registry
    = stylesheet_link_tag :application, :media => :all
    = javascript_include_tag "http://js.stripe.com/v1/",:application
    = csrf_meta_tags
    = tag :meta, :name=>"stripe-key", :content => STRIPE_PUBLIC_KEY
    / yield
    = yield :header_scripts
    / /yield
    %link{:href => "/assets/icons/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    /[if gte IE 9]
      :css
        .gradient { filter: none; }
        .gradient:hover { filter: none; }
  %body
    :plain
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=371277729589519";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      
    = render 'layouts/pages_header'
    #main
      = render 'layouts/flash_msgs'
      = yield
      .clear
    = render 'layouts/footer'